<br /><br />
<div class="panel panel-default">
    <div class="panel-body">
	<section id="main-content">
            <div class="col-md-12">
		<br><br>
		<div id="timing"></div>
		<h1>Competition </h1>
		<form  method="post">
			<?php $i=1; foreach ($this->form as $form):?>
                        
			<h4>Question <?php echo $i; ?></h4>
                        <input type="text" disabled="disabled" name="ques<?php echo $i;?>" value="<?php echo $form['Question'];?>">
			<br>
			<input type="radio" value="a" name="q<?php echo $i;?>"><?php echo $form['answerA'];?><br>
			<input type="radio" value="b" name="q<?php echo $i;?>"><?php echo $form['answerB'];?><br>
			<input type="radio" value="c" name="q<?php echo $i;?>"><?php echo $form['answerC'];?><br>
                        <input type="radio" value="d" name="q<?php echo $i;?>"><?php echo $form['answerD'];?><br><br>
                        
                        <?php $i++; endforeach;?>
				
			<input type="submit" id="floating" class="btn btn-danger" value="Submit" />
		</form>
	</div>