<br /><br />
<div class="panel panel-default">
	<div class="panel-body">
		<section id="main-content">		
			<div class="col-md-12">
				<!--<input type="buttom" id="floatingRank"class="btn btn-danger" onclick="grades()" value="Competition Ranking">-->
				<?php foreach ($this->form as $form):?>
                                <div id="divComp">
					<h2><?php echo $form['comp_name'];?> Competition</h2>
                                        <a href="<?php echo $this->baseUrl()."/competition/add/id/".$form['id'];?>"class="btn btn-danger">Enter</a>
				</div>
                                <?php endforeach; ?>
			</div>
		</section>	
		<br><br>
	</div>
</div>