<?php if (count($this->errors) > 0) {
    ?>

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <?php
        foreach ($this->errors as $errorName => $error) {
            foreach ($error as $message) {
                echo "<strong>$errorName : </strong>$message <br />";
            }
        }
        ?>
    </div>
<?php } ?>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><?php echo $this->viewName ?></h3>
    </div>
    <div class="panel-body">
        <form action="<?php echo $this->baseUrl() . $this->post ?>" method="post" >
            <?php echo $this->form->id ?>
            <div class="form-group">
                <label for="name">name</label>
                <?php echo $this->form->name ?>
            </div>

            <?php echo $this->form->submit ?>
        </form>
    </div>
</div>
</div>
</div>