<div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-6 column">
			<div class="page-header">
                            <h2>
                               Material Type Editing
                            </h2>
				
			</div>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
<div class="row clearfix">
		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
			<div class="page-header">
				
			</div>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
<div class="row clearfix">
		<div class="col-md-4 column">
                    <?php echo $this->materialtype;?>
		</div>
		<div class="col-md-4 column">
                    
		</div>
		<div class="col-md-4 column">
                    <div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Material Type Cpanel
					</h3>
				</div>
				<div class="panel-body">
					   <a href="<?php echo $this->baseUrl()?>/administration/course/index">Cpanel Home</a><br>
                                            <a href="<?php echo $this->baseUrl()?>/administration/material/add">Category Add</a><br>
                                             <a href="<?php echo $this->baseUrl()?>/administration/material/list">List Of Categories</a>
				</div>
				<div class="panel-footer">
					
				</div>
			</div>
		</div>
	</div>