	<div class="row clearfix">
		
		<div class="col-md-4 column">
			<div >
				<h1>
					List Of Material Type
				</h1>
			</div>
		</div>
		<div class="col-md-8 column">
		</div>
	</div>
<div class="row clearfix">
		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
                    <div>
		      <?php
                        if($this->msg != NULL){
                            echo "<div class='alert alert-warning alert-dismissable'>
                            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                            <strong>Warning!</strong> Better check yourself, you're not looking too good.</div>";
                        }
                      ?>		
		    </div>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
<div class="row clearfix">
		<div class="col-md-8 column">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Material Type Name
						</th>
						<th>
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					  <?php
                                    
                                    foreach ($this->materialtypedata as $key=>$value){
                                        ?>
					<tr class='active'>
                                            <td>
					<?php echo $this->materialtypedata[$key]['materialtype_id']; ?>		
					</td>
					<td>
					<?php echo $this->materialtypedata[$key]['materialtype_name']; ?>		
					</td>
                                        <td>
                                            <a href="<?php echo $this->baseUrl()?>/administration/material/edit?id=<?php echo $this->materialtypedata[$key]['materialtype_id']; ?>"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="<?php echo $this->baseUrl()?>/administration/material/delete?id=<?php echo $this->materialtypedata[$key]['materialtype_id']; ?>"><span class="glyphicon glyphicon-remove"></span></a>
					</td>
					
					</tr>
                                        <?php
                                    }
					?>
				</tbody>
			</table>
		</div>
		<div class="col-md-4 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Material Type Cpanel
					</h3>
				</div>
				<div class="panel-body">
					   <a href="<?php echo $this->baseUrl()?>/administration/course/index">Cpanel Home</a><br>
                                            <a href="<?php echo $this->baseUrl()?>/administration/material/add">Material Type Add</a>
				</div>
				<div class="panel-footer">
					
				</div>
			</div>
		</div>
	</div>