<?php $this->headScript()->appendFile($this->baseUrl().'/js/video.js'); ?>
<?php if (count($this->errors) > 0) {
    ?>

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <?php
        foreach ($this->errors as $errorName => $error) {
            foreach ($error as $message) {
                echo "<strong>$errorName : </strong>$message <br />";
            }
        }
        ?>
    </div>
<?php } ?>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><?php echo $this->viewName ?></h3>
    </div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-info">
            <h4>Search and Paste!</h4>
            <p>just Enter the title to search Youtube videos, Then <em>JUST</em> copy the colored code to the text box below! </p>
        </div>
        <form action="<?php echo $this->baseUrl() . $this->post ?>" method="post" >
            <?php echo $this->form->id ?>
            <div class="form-group">
                <label for="videoTitle">Video Title</label>
                <?php echo $this->form->videoTitle ?>
            </div>
            <div class="form-group">
                <label for="videoUrl">Video Code</label>
                <?php echo $this->form->videoUrl ?>
            </div>
            <div id="video"> 

            </div>
            <div class="clearfix"></div>
            

            <?php echo $this->form->submit ?>
        </form>
    </div>
</div>