<style media="screen">

</style>

<?php if (!empty($this->identity)) { ?>
  <div class="container-fluid row cat-container" id="os-contact">
    <div class="c-image" style="background: url('<?php echo $this->baseUrl() ?>/images/job3.jpg') no-repeat top left;">
      <div class="c-overlay orange-it" >
        <input class="f-search inp-os" type="text" name="name" placeholder="Search for jobs">
        <br>
        <a class="btn btn-os greenify largify" id="post-job" href="<?=$this->baseUrl()?>/job/add">Post a Job</a>
        </div>
      </div>
    </div>
  </div>

<?php } ?>
<?php
  if ($this->paginator) {
?>
  <div class="container-fluid row cat-container" id="os-jobs">
    <?php
    foreach ($this->paginator as $job) {
    ?>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="card profile-card">
          <div class="pc-logo">
            <img src='<?=''.$this->baseUrl() . '/images/'.strtolower($job['companyName']).'.png'?>'>
          </div>
          <div class="pc-content">
            <h4 class="pc-title"><?=  $job['title'] ?></h4>
            <p class="pc-company"><?= $job['companyName'] ?></p>
            <p class="pc-location">
              <span class="glyphicon glyphicon-map-marker"></span> Cairo, Egypt
            </p>
          </div>
          <div class="pc-footer">
            <span class="pc-time "><?= $job['createdAt'] ?></span>
            <a href="#" class="pc-action pull-right" data-toggle='modal' data-target='#job_<?=$job["id"]?>'>apply</a>
          </div>
        </div>
      </div>
  <!-- Modal -->
<!--  <div class="modal fade" id="job_<?= $job['id'] ?>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"
                              aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel"><?= $job['title'] ?></h4>
                  </div>
                  <div class="modal-body">
                      <strong>job Title </strong>: <?= $job['title'] ?><br/>
                      <strong>Contact Email </strong>: <?= $job['contact'] ?><br/>
                      <strong>Created at </strong>: <?= $job['createdAt'] ?><br/>
                      <strong>Salary </strong>: <?= $job['salary'] ?><br/>
                      <strong>Type </strong>: <?= $job['type']=='f'?"Full Time":"Part Time" ?><br/>
                      <strong>Company Name </strong>: <?= $job['companyName'] ?><br/>
                      <strong>Company Address </strong>: <?= $job['companyAddress'] ?><br/>
                      <strong>Company URL </strong>: <?= $job['companyUrl'] ?><br/>
                      <strong>Description </strong>: <?= $job['description'] ?><br/>
                      <strong>Created by </strong>:
                      <a href='#'>
                          <?= $job['firstName'].' '.$job['lastName'] ?><br/>
                      </a>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" autofocus="autofocus"
                              data-dismiss="modal">Close
                      </button>
                  </div>
              </div>
          </div>
      </div>
-->
      <?php
      }
      ?>
</div>
<?php
  echo $this->paginationControl($this->paginator, 'sliding', 'pagination.phtml');
}
?>
