	<div class="row clearfix">
            <div class="col-md-4 column"></div>
		<div class="col-md-8 column">
			<div class="jumbotron">
				<h2>
					Material Portal CPanel
				</h2>
			
			</div>
		</div>
            <div class="col-md-4 column"></div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Course CPanel
					</h3>
				</div>
				<div class="panel-body">
                                    <span class="glyphicon glyphicon-plus"> <a href="<?php echo $this->baseUrl()?>/administration/course/add">Course Add</a></span><br>
                                    <span class="glyphicon glyphicon-list"> <a href="<?php echo $this->baseUrl()?>/administration/course/list">List Of Courses</a></span><br>
                                    <span class="glyphicon glyphicon-upload"> <a href="<?php echo $this->baseUrl()?>/administration/coursematerial/add">Material Upload</a></span><br>
                                    <span class="glyphicon glyphicon-list"> <a href="<?php echo $this->baseUrl()?>/administration/coursematerial/list">List Of Courses Material</a></span>
				
				
				</div>
				<div class="panel-footer">
					
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Course Categories CPanel
					</h3>
				</div>
				<div class="panel-body">
                                    <span class="glyphicon glyphicon-plus"> <a href="<?php echo $this->baseUrl()?>/administration/categorycourse/add">Course Category Add</a></span><br>
                                             <span class="glyphicon glyphicon-list"> <a href="<?php echo $this->baseUrl()?>/administration/categorycourse/list">List Of Courses Categories</a></span>
				
				</div>
				<div class="panel-footer">
					
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Material Types CPanel
					</h3>
				</div>
				<div class="panel-body">
                                    <span class="glyphicon glyphicon-plus"> <a href="<?php echo $this->baseUrl()?>/administration/material/add">Material Type Add</a></span><br>
                                    <span class="glyphicon glyphicon-list"> <a href="<?php echo $this->baseUrl()?>/administration/material/list">List Of Material Types</a></span>
				
				</div>
				<div class="panel-footer">
					
				</div>
			</div>
		</div>
	</div>