<div class="panel panel-default">
  <div class="panel-body">
      <h1 ><span class="glyphicon glyphicon-link"></span> <?= $this->page['pageTitle']?></h1>
      <?php
        if($this->page['body']){
            echo $this->page['body'];
        }
      ?>
  </div>
</div>