<!--<div class="container-fluid row cat-container os-about" >
    <h2>ABOUT US</h2>
    <div class="col-sm-12 col-md-6 col-md-push-6">
      <div class="image-frame">
        <img src="http://www.iti.gov.eg/Site/_Data/KnowledgeTransfer/Mobile%20Developer%20Weekend.JPG">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-md-pull-6">
      <div class="content-frame f-left">
          <h3 class="c-title red-c">Information Technology Institute</h3>
          <p class="c-desc">
            The term "open source" refers to something that can be modified because its design is publicly accessible.

While it originated in the context of computer software development, today the term "open source" designates a set of values—what we call the open source way.
          </p>
        </div>
      </div>
</div>
-->
<div class="container-fluid row cat-container os-about">
    <h2>ABOUT US</h2>
    <div class="col-sm-12 col-md-6">
      <div class="image-frame">
        <img src="http://gongos.com/wp-content/uploads/open-source-community1.png">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="content-frame f-right">
          <h3 class="c-title purple-c">Open Source Department</h3>
          <p class="c-desc">
            ITI initially set up to provide specialized software development programs to fresh graduates.Thus contributing in the development of the Egyptian ICT industry and achieving high ranks in ICT global competitiveness.
          </p>
        </div>
      </div>
</div>
