<div class="container-fluid row cat-container" id="os-community">
    <h2>Our Community</h2>
  <ul class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#jobs" aria-controls="jobs" role="pill" data-toggle="pill">Jobs</a></li>
    <li role="presentation"><a href="#profiles" aria-controls="profiles" role="pill" data-toggle="pill">Graduate Profiles</a></li>
    <li role="presentation"><a href="#courses" aria-controls="courses" role="pill" data-toggle="pill">Courses</a></li>
  </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="jobs">
        <div class="col-sm-6 col-md-3">
          <div class="image-icon">
            <img src="http://www.careerpilot.org.uk/images/jobs-icon-lrg.png">
          </div>
        </div>
        <div class="col-sm-6 col-md-9 ">
          <div class="feature ">
              <p class="f-desc">
                The term "open source" refers to something that can be modified because its design is publicly accessible.
                While it originated in the context of computer software development, today the term "open source" designates a set of values—what we call the open source way.
              </p>
          </div>
          <input class="f-search" type="text" name="name" placeholder="  search for jobs">
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profiles">
        <div class="col-sm-6 col-md-3">
          <div class="image-icon">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/149598-200.png">
          </div>
        </div>
        <div class="col-sm-6 col-md-9 ">
          <div class="feature ">
              <p class="f-desc">
                The term "open source" refers to something that can be modified because its design is publicly accessible.
                While it originated in the context of computer software development, today the term "open source" designates a set of values—what we call the open source way.
              </p>
          </div>
          <input class="f-search" type="text" name="name" placeholder="  search for our graduates">
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="courses">
        <div class="col-sm-6 col-md-3">
          <div class="image-icon">
            <img src="http://www.talkofeurope.eu/wp-content/uploads/2014/02/icon_29061.png">
          </div>
        </div>
        <div class="col-sm-6 col-md-9 ">
          <div class="feature ">
              <p class="f-desc">
                The term "open source" refers to something that can be modified because its design is publicly accessible.
                While it originated in the context of computer software development, today the term "open source" designates a set of values—what we call the open source way.
              </p>
          </div>
          <input class="f-search" type="text" name="name" placeholder="  search for courses">
        </div>
      </div>
    </div>

</div>
