<div class="container-fluid row cat-container" id="os-contact">
  <div class="c-image" style="background: url('<?php echo $this->baseUrl() ?>/images/cu1.jpg') no-repeat top left;">
    <div class="c-overlay night-it" >
      <h2>Contact Us</h2>
      <p>
        If you have any ideas that can improve our community or any question about any thing.
        Please don't hestiate to contact us
      </p>
      <button type="button" class="btn btn-os" name="button">contact us now</button>
      </div>
    </div>

  </div>

</div>
