<div class="cards">
  <div class="row">
    <div class="card-prev col-sm-4">
      <span class="glyphicon glyphicon-chevron-up disappear"></span>
    </div>
    <div class="col-sm-8"></div>
  </div>

    <?php
      if($this->settings){
        for($i=0;$i < 1;$i++){
    ?>
    <div class="card mini-card c-event active row">
      <div class="mc-date col-sm-4">
        <div class="c-day">15</div>
        <div class="c-month">Jan</div>
        <div class="c-year">2017</div>
      </div>
      <div class="mc-content col-sm-8">
        <h4 class="c-title">
          Open Source Day
        </h4>
        <p class="c-desc">
          the day that opensourcians communicate with each other
        </p>
      </div>
    </div>
    <?php
        }
      }
    ?>
    <div class="row">
      <div class="card-next col-sm-4">
        <span class="glyphicon glyphicon-chevron-down disappear"></span>
      </div>
      <div class="col-sm-8"></div>
    </div>
</div>
