<div class="cards" id="os-news">
    <?php
      if($this->articles){
        $colors = array(0 =>'day-it' ,1=>'orange-it',2=>'green-it',3=>'purple-it',4=>'red-it',5,'night-it',6=>'yellow-it');
        for($i=0;$i < count($this->articles);$i++){
    ?>
    <div class="card <?php if ($i == 0) echo "active" ?>">
      <div class="c-image" style="background: url('<?php echo $this->baseUrl() ?>/upload/news/<?= $this->articles[$i]["sliderImage"] ?>') no-repeat top left;">
        <div class="c-overlay <?=$colors[$i%count($colors)]?>">
          <a href="<?php echo $this->baseUrl() ?>/news/view/id/<?= $this->articles[$i]["id"] ?>"><h4 class="c-title"><?= $this->articles[$i]["title"] ?></h4></a>
        </div>
      </div>
      <div class="c-content">
        <p class="c-desc"><?php
            $strippedString = strip_tags($this->articles[$i]["body"]);
            $formatedString = (strlen($strippedString) > 90) ? substr($strippedString, 0, 85) . '...' : $strippedString;
            echo $formatedString;
            ?>
        </p>
      </div>
    </div>
    <?php
        }
      }
    ?>
    <div class="card-indicators">
      <?php
        if($this->articles){
          for($i=0;$i < count($this->articles);$i++){
      ?>
          <span id="ci-<?=$i?>" class="c-indicator glyphicon glyphicon-record <?php if ($i == 0) echo "active" ?>"></span>
      <?php
          }
        }
      ?>
    </div>
</div>
