<style media="screen">
  #os-others{
    background: #F2FDFF;
  }
  #os-photos img{
    width:30%;
    padding:4px;
  }
  #pollDisplay{
    text-align: left;
  }
  #os-others h3 {
    padding: 8%;
    color: #545454;
    font-size:20px;

  }
  /*#os-photos img.primary{
    width:60%;
  }*/
</style>
<div class="container-fluid row cat-container" id="os-others">
  <div class="col-md-4" id="os-photos">
    <h3>Photos</h3>
    <?php if($this->albums) {
          $count =  count ($this->albums) < 9 ? count ($this->albums) : 9;
    ?>
    <div id="links">
      <?php for ($i =0; $i<$count; $i++) {?>
      <a href="<?php echo $this->baseUrl()."/upload/albums/".$this->albums[$i]['albumId']."/" . $this->albums[$i]['name'] ?>" title="<?php echo $this->albums[$i]['title']?>" data-gallery>
        <img src="<?php echo $this->baseUrl()."/upload/albums/".$this->albums[$i]['albumId']."/" . $this->albums[$i]['name'] ?>" class="<?= ($i == 0)?'primary':''?>" alt="<?php echo $this->albums[$i]['title']?>">
      </a>
      <?php } ?>
    </div>
    <?php } ?>
    <br>
  </div>
  <div class="col-md-4" id="poll">
        <h3>Contribute</h3>
        <div id="pollDisplay">
            <div id="pollError"></div>
            <?php if ($this->poll) { ?>
                <h4><?= $this->poll[0]['pollQuestion'] ?></h4>
                <input type="hidden" id = "pollId" value="<?= $this->poll[0]['id'] ?>">
                <?php foreach ($this->poll[1] as $choice) { ?>
                    <div class="radio">
                        <label>
                            <input type="radio" name = "pollChoice" value="<?= $choice['id'] ?>">
                            <?= $choice['pollChoice'] ?>
                        </label>
                    </div>
                <?php } ?>
                <a class="btn btn-primary" id="pollVote" >Vote</a><a class="btn btn-primary" id="pollResult" >Result</a>
            <?php } ?>
        </div>
  </div>
  <div class="col-md-4" id="video">
    <h3>Videos</h3>
    <div class="js-video widescreen">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/vX1x2WtamRQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  
</div>
