<?php if ($this->services){
    $colors = array(0 =>'day-it' ,1=>'orange-it',2=>'green-it' );
?>
<div class="container-fluid row cat-container" id="os-services">
  <h2>Our Services</h2>
  <?php for($i=0; $i <count($this->services); $i++) {?>
    <div class="col-sm-4 col-md-4">
      <div class="card">
        <div class="c-image" style="background: url('<?php echo $this->baseUrl()."/upload/albums/".$this->services[$i]['albumId']."/" . $this->services[$i]['name'] ?>') no-repeat top left;">
          <div class="c-overlay <?=$colors[$i%count($colors)]?>"></div>
        </div>

        <div class="c-content">
          <h3 class="c-title"><?= $this->services[$i]['title']?></h3>
          <p class="c-desc">
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          </p>
        </div>
      </div>
    </div>
      <?php } ?>
</div>
<?php } ?>
