<div class="container-fluid row cat-container" id="os-team">
    <h2>Our Team</h2>
    <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="member">
            <div class="m-image">
              <img src='<?=''.$this->baseUrl() . '/images/sheriene.jpg'?>'>
            </div>
            <div class="m-details">
                <h4 class="m-name">Sheriene Bahader</h4>
                <div class="m-social">
                </div>
            </div>
          </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="member">
            <div class="m-image">
              <img src=<?=''.$this->baseUrl() . '/upload/profile/' . $this->identity->image .''?> >
            </div>
            <div class="m-details">
                <h4 class="m-name">Islam Askar</h4>
                <div class="m-social">
                </div>
            </div>
          </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="member">
            <div class="m-image">
              <img src='<?=''.$this->baseUrl() . '/images/moawad.jpg'?>'>
            </div>
            <div class="m-details">
                <h4 class="m-name">Mohamed Gabr</h4>
                <div class="m-social">
                </div>
            </div>
          </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="member">
            <div class="m-image">
              <img src='<?=''.$this->baseUrl() . '/images/sabagh.png'?>'>
            </div>
            <div class="m-details">
                <h4 class="m-name">Mohamed Sabagh</h4>
                <div class="m-social">
                </div>
            </div>
          </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="member">
            <div class="m-image">
              <img src='<?=''.$this->baseUrl() . '/images/kesha.jpg'?>'>
            </div>
            <div class="m-details">
                <h4 class="m-name">Ahmed Kesha</h4>
                <div class="m-social">
                </div>
            </div>
          </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="member">
            <div class="m-image">
              <img src='<?=''.$this->baseUrl() . '/images/moawad.jpg'?>'>
            </div>
            <div class="m-details">
                <h4 class="m-name">Ahmed Moawad</h4>
                <div class="m-social">
                </div>
            </div>
          </div>
    </div>

</div>
