<?php if($this->technologies){?>
<div class="container-fluid row cat-container" id="os-tech">
    <h2>Technologies we teach</h2>
    <?php
      for($i=1; $i <= count($this->technologies)/6; $i++) {
          for($j=(($i-1)*6); $j <$i*6; $j++) {
              $others = ($i>1)?'others':'';
              echo '<div class="col-xs-3 col-sm-2 col-md-2 '.$others.'">
                      <div class="icon-image devicon-'.$this->technologies[$j]['name'].'-plain colored">
                        <i class="devicon-'.$this->technologies[$j]['name'].'-plain colored"></i>
                      </div>
                    </div>';
          }
      ?>
<?php } ?>
  <button type="button" id ="tech-toggle" class="btn btn-link" name="button">
    <span class="glyphicon glyphicon-menu-down"></span>
  </button>
<?php } ?>
</div>
