<div class="container-fluid row cat-container" id="os-tracks">
    <h2>Our Tracks</h2>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="c-image" style="background: url('https://cdn-images-1.medium.com/max/800/1*W7Qnu-iijStH4D-6ioptVA.png') no-repeat top left;">
          <div class="c-overlay yellow-it"></div>
        </div>
        <div class="c-content">
          <h3 class="c-title">OSAD</h3>
          <p class="c-desc">
            Open Source Application Development
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="c-image" style="background: url('http://d2kv389z282s26.cloudfront.net/wp-content/blogs.dir/1/files/2013/05/c0092989-b07c-4f68-96d0-a263ad92946e.img_.jpeg') no-repeat top left;">
          <div class="c-overlay purple-it"></div>
        </div>
        <div class="c-content">
          <h3 class="c-title">IOT</h3>
          <p class="c-desc">
            Internet of things Application Development
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="c-image" style="background: url('http://www.digitalistmag.com/files/2016/03/Platforms-and-Infrastructure-A-CIOs-Best-Friend.jpg') no-repeat top left;">
          <div class="c-overlay red-it"></div>
        </div>
        <div class="c-content">
          <h3 class="c-title">CPD</h3>
          <p class="c-desc">
            Cloud Platform Development
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="c-image" style="background: url('http://forums.techsoup.org/cs/cfs-file.ashx/__key/communityserver-blogs-components-weblogfiles/00-00-00-01-03/Jason-and-Joy-from-SFData-at-Apps4Change-Demo.jpg') no-repeat top left;">
          <div class="c-overlay night-it"></div>
        </div>
        <div class="c-content">
          <h3 class="c-title">Telecom</h3>
          <p class="c-desc">
            Telecom Application Development
          </p>
        </div>
      </div>
    </div>
</div>
