<div class="bg" id="os-feature">
  <div class="col-sm-12 col-md-7">
      <?= $this->render("index/_news.phtml") ?>
  </div>
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-5 col-lg-offset-1 col-lg-4">
    <div class="col-sm-6 col-md-12">
      <?= $this->render("index/_events.phtml") ?>
    </div>
    <div class=" col-sm-6 col-md-12">
      <?= $this->render("index/_jobs.phtml") ?>
    </div>
    <div class=" col-sm-6 col-md-12">
      <?= $this->render("index/_events.phtml") ?>
    </div>
  </div>
</div>

<?= $this->render("index/_services.phtml") ?>
<?= $this->render("index/_tracks.phtml") ?>
<?= $this->render("index/_community.phtml") ?>
<?= $this->render("index/_tech.phtml") ?>
<?= $this->render("index/_others.phtml") ?>
<?php //echo $this->render("index/_team.phtml") ?>
<?= $this->render("index/_about.phtml") ?>
<?= $this->render("index/_contact.phtml") ?>

<?php $this->headScript()->appendFile($this->baseUrl() ."/js/atemay.js"); ?>
<?php $this->headScript()->appendFile($this->baseUrl() ."/js/event.js"); ?>
