<?php if (count($this->errors) > 0) {
    ?>

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <?php
        foreach ($this->errors as $errorName => $error) {
            foreach ($error as $message) {
                echo "<strong>$errorName : </strong>$message <br />";
            }
        }
        ?>
    </div>
<?php } ?>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><?php echo $this->viewName ?></h3>
    </div>
    <div class="panel-body">
         <form action="<?php echo $this->baseUrl() . $this->post ?>" method="post" >
            <?php echo $this->form->id ?>
            <div class="form-group">
                <label for="pollQuestion">Poll Question</label>
                <?php echo $this->form->pollQuestion ?>
                
            </div>
             <div class="form-group col-md-6">
                <label for="pollChoiceOne">Choice One</label>
                <?php echo $this->form->pollChoiceOne ?>
                <?php echo $this->form->pollChoiceOneId ?>
            </div>
            <div class="form-group col-md-6">
                <label for="pollChoiceTwo">Choice Two</label>
                <?php echo $this->form->pollChoiceTwo ?>
                <?php echo $this->form->pollChoiceTwoId ?>
            </div>
            <div class="form-group col-md-6">
                <label for="pollChoiceThree">Choice Three</label>
                <?php echo $this->form->pollChoiceThree ?>
                <?php echo $this->form->pollChoiceThreeId ?>
            </div>
             <div class="form-group col-md-6">
                <label for="pollChoiceFour">Choice Four</label>
                <?php echo $this->form->pollChoiceFour ?>
                <?php echo $this->form->pollChoiceFourId ?>
            </div>
             <div class="form-group col-md-6">
                <label for="pollChoiceFive">Choice Five</label>
                <?php echo $this->form->pollChoiceFive ?>
                <?php echo $this->form->pollChoiceFiveId ?>
            </div>
             
            <div class="clearfix"></div>
            

            <?php echo $this->form->submit ?>
        </form>
    </div>
</div>