   <script type="text/javascript">
$(document).ready(function(){
  $("category").change(function(){
    alert("The text has been changed.");
  });
});
  
</script>
<div class="row clearfix">
		<div class="col-md-12 column">
                    <h1>Material Portal</h1>
			<div class="row clearfix">
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
                                    <?php echo $this->course;?>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
                       <div class="panel panel-default">
                        <div class="panel-heading">
                        <h3 class="panel-title fontcolor">Lectures</h3>
                        </div>
                        <div class="panel-body">
                        <p class="panelbody">
                            Providing lecture for materials 
                        </p>
                        </div>
                        </div>
		</div>
		<div class="col-md-4 column">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                        <h3 class="panel-title fontcolor">Labs</h3>
                        </div>
                        <div class="panel-body">
                        <p class="panelbody">
                            Providing Labs for materials 
                        </p>
                        </div>
                        </div>
		</div>
		<div class="col-md-4 column">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                        <h3 class="panel-title fontcolor">Lectures</h3>
                        </div>
                        <div class="panel-body">
                        <p class="panelbody">
                            Providing asignments for materials 
                        </p>
                        </div>
                        </div>
		</div>
	</div>




   