
<br /><br />
    <form method="post">
        <label for="name">Category Name:</label>
        <input type="text" name="name" placeholder="Category Name" required>
        <br>
        <input type="submit" value="Add Category" class="btn btn-primary">
    </form>
