<br /><br />
<?php foreach($this->data as $category):?>
 <form method="post">
        <label for="name">Category Name:</label>
        <input type="text" name="name" value="<?php echo $category['name'];?>">
        <br>
        <input type="hidden"value="<?php echo $category['id'];?>">
        <input type="submit" value="Edit Category" class="btn btn-primary">
</form>   
<?php endforeach;?>
