
<br /><br />
<div class="container">
    <h3>Welcome to Competition page</h3>
    <h2>Category</h2>
    <a href=<?php echo $this->baseUrl()."/administration/competitioncategory/add";?>>Add Category</a>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Operations</th>
        </tr>
        <?php foreach ($this->data as $category): ?>
        <tr>
            <td><?php echo $category['name'];?></td>
            <td>
                <a href=<?php echo $this->baseUrl()."/administration/competitioncategory/edit/id/".$category['id'];?> class="glyphicon glyphicon-eye-open"></a>	
            
                <a href=<?php echo $this->baseUrl()."/administration/competitioncategory/delete/id/".$category['id'];?> class="glyphicon glyphicon-eye-close"></a>
            </td>
        </tr>
        <?php endforeach;?>
    </table>
</div>