
					<div id="event_cont"   class="panel ">
        
      <h1>  News</h1>
					<div class="row">
                                            
                                            <?php 
                                            
                                                    $news = new Application_Model_News();
                                                      $result=$news->listAll();
                                                      $i=1;
                                                      foreach ($result as $value)             
                                                      {                                                                                                   
					 echo "<div class='col-sm-6 col-md-4'><div class='thumbnail'>"
						  ."<img data-src='holder.js/300x200' src='".$this->baseUrl()."/upload/news/".$value['main_photo']."' />"
						 ." <div class='caption'><h3>".$value['name']."</h3>"
							."<p>".$value['description']."</p>"
							."<p><a href='#' class='btn btn-primary' data-toggle='modal' data-target='#myModal$i' role='button'>Read More</a></p>"
						  ."</div></div></div>";
                                         $i++;
                                                      }
                                                                   ?>
                                        </div>
									      

			
			<!-- Modal -->
			
<div id="event_detail">
	<?php 
                                            
                                                    $news = new Application_Model_News();
                                                      $result=$news->listAll();
                                                      $i=1;
                                                      foreach ($result as $value)             
                                                      {                                                                                                   								
						echo "<div class='modal fade' id='myModal$i' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>"
						 ." <div class='modal-dialog'><div class='modal-content'>"
							 ." <div class='modal-header'>"
								."<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>"
								."<h4 class='modal-title' id='myModalLabel'>".$value['name']."</h4>"
							 ." </div><div class='modal-body'>"
							  ."<img data-src='holder.js/300x200' src='".$this->baseUrl()."/upload/news/".$value['main_photo']."' />"
							   .$value['description']
							  ."</div>"
							  ."<div class='modal-footer'><button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>"
									 ." </div></div></div></div>";
						$i++;	
	                                          }
                                                                   ?>
            					
</div><!--end info news -->
