<div class="panel panel-default">
    <div class="panel-body">
        <h1 ><span class="glyphicon glyphicon-bullhorn"></span> <?= $this->article['title'] ?></h1>
        <div class="well">
            <div class="row">
                <div class="col-md-7">
                    <span class="glyphicon glyphicon-user"> Created by  : </span><strong><?= $this->article['firstName'] . " " ?><?= $this->article['lastName'] ?></strong> <br />
                    <span class="glyphicon glyphicon-calendar"> Created on  : </span><strong><?= $this->article['createdOn'] ?></strong> <br />
                    <?php if (isset($this->article['updatedOn'])) {?>
                    <span class="glyphicon glyphicon-calendar"> Last edited : </span><strong><?= $this->article['updatedOn'] ?></strong> <br />
                    <?php } ?>
                    <span class="glyphicon glyphicon-folder-open"> Category: <a href="<?php echo $this->baseUrl() ?>/news/list/categoryId/<?= $this->article["id"] ?>" ><?= $this->article["name"]?></a></span>
                </div>
                <div class="col-md-5">
                    
                    <span class="glyphicon glyphicon-share-alt"> Share this content on:</span>
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_google_plusone_share"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_linkedin"></a>
                        <a class="addthis_button_pinterest_share"></a>
                        <a class="addthis_button_email"></a>
                        <a class="addthis_button_print"></a>
                        <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5322da23778c65b6"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
        <?php
        if ($this->article['body']) {
            echo $this->article['body'];
        }
        ?>
    </div>
      
</div>

<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ostd'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    