<?php $this->headLink()->appendStylesheet($this->baseUrl().'/datepicker/css/datepicker.css') ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/datepicker/js/bootstrap-datepicker.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/site-datetimepicker.js'); ?>
<?php if (count($this->errors) > 0) {
    ?>

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <?php
        foreach ($this->errors as $errorName => $error) {
            foreach ($error as $message) {
                echo "<strong>$errorName : </strong>$message <br />";
            }
        }
        ?>
    </div>
<?php } ?>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Attendance</h3>
    </div>
    <div class="panel-body">
    	<div class='col-md-12'>
    	<form action="<?php echo $this->baseUrl() . $this->post ?>" method="post" >
		<table class='table table-hover table-striped'>
			<tr>
				<td class='col-md-4'><label for="branch">Branch</label>
					<?php echo $this->form->branchId ?>
				</td>
				<td class='col-md-4'><label for="track">Track</label>
					<?php echo $this->form->trackId ?>
				</td>
				<td class='col-md-4'><label for="track">Date</label>
					<?php echo $this->form->att_date ?>
				</td>
				<td class='col-md-4'><br/>
					<button type='submit' class='btn-success btn-md btn'>Get Students</button>
				</td>
			</tr>
		</table>
	</form>
	</div>
	<div class='col-md-12'>
		<?php
			if(isset($this->students)) {
				if(count($this->students)>0) {
					?><table class='table table-striped table-hover table-bordered'><?php
					?>
					<thead>
						<tr>
							<th>Student Name</th>
							<th>Actions</th>
							<th>Note</th>
							<th>Deduction</th>
						</tr>
					</thead>
					<tbody>
					<?php
					foreach ($this->students as $student) {
						?>
						<tr>
							<td><?php echo $student['firstName']." ".$student['lastName']; ?></td>

							<td>
								<?php
									foreach($this->rules as $rule) {
										?>
										<input current_grade="<?php echo $this->grades[$student['id']]; ?>" num="<?php echo $this->rules_times[$student['id']][$rule['id']]+1 ; ?>" maximum="<?php echo $rule['maximum'] ?>" deduction="<?php echo $rule['deduction'] ?>" class='rule' userId="<?php echo $student['id']; ?>" ruleId="<?php echo $rule['id'] ?>" type='radio' name="<?php echo 	"rule_".$student['id']; ?>" value="<?php echo $rule['id']; ?>">
										<?php echo 	$rule['type'];
									}
								?>
							</td>
							<td>
								<input type='text' id="user_<?php echo $student['id']; ?>" class="form-control">
							</td>
							<td><a class="grade_<?php echo $student['id']; ?>">
								<?php echo $this->grades[$student['id']]; ?>
							</a>
							</td>
						</tr>
						<?php
					}
					?></tbody></table><?php
				} else {
					?>
						There is no Students in the following selectors.
					<?php
				}
			} else {
				?>
				Please, select branch, track and click Get Students button
				<?php
			}
		?>
		
	</div>
    </div>
</div>
</div>
</div>
<?php $this->headScript()->captureStart() ?>

$('#datepicker').datepicker({
	'autoclose':true,
});

$(".rule").change(function() {
	num = $(this).attr('num');
	current_grade = $(this).attr('current_grade');
	maximum = $(this).attr('maximum');
	deduction = $(this).attr('deduction');
	userId = $(this).attr('userId');
	ruleId = $(this).attr('ruleId');
	att_date = $('#datepicker').val();
	note = $('#user_'+userId).val();
	
	if(parseInt(num)>parseInt(maximum)) {

		$('.grade_'+userId).text((parseInt(deduction)+parseInt(current_grade)));
	} else {
		$('.grade_'+userId).text(parseInt(current_grade));
	}
	/***** Start Calling Ajax ******/
	$.ajax(
	{
		type: "POST",
		url: baseUrl + "/" + originalModule +"/" + originalController + "/insert/",
		data: {
			'ruleId': ruleId,
			'userId': userId,
			'note'	: note,
			'date'	: att_date
		},
		success: function(data) {
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(xhr.status);
			alert(xhr.responseText);
			alert(thrownError);
		}

	});
	/******* End Of Ajax Calling *****/


});
<?php $this->headScript()->captureEnd() ?>
