h1{
		color:#2e75b6;
		border-bottom:#2e75b6 5px solid;


}
#register{
	border-bottom:2px solid #2e75b6;
}

#footer-widgets{
	background:#2e75b6;
}
#calendar_header{
   background:#2e75b6;
}
#calendar .today{
	background:#2e75b6;
}

.btn-primary
{
	background:#2e75b6;
	border:#2e86b7 solid 1px;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#2e75bf;border-color:#2e75bf}.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#940101}
.nav-pills>li>a{
	color:#151515;
}
.nav-pills>li>a:hover{
	color:#2e75b6;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{color:#fff;background-color:#2e75b6}
#collection .carousel-indicators li{
	border:1px solid #2e75b6;
}
#collection .carousel-indicators li.active{
	border:1px solid #2e75b6;
	background:#2e75b6;
}
				#myTab li a,.table-hover tr td a {
					color:#2e75b6;
				}

section.main_header h1,.pagination a,.panel-title
{	color:#2e75b6;
}

section.right_section div#contact_form form.form-horizontal div span#name_warning,span#email_warning,span#subject_warning,span#message_warning
{
	color:#2e75b6;
}
section.left_section div.map a
{
	color:#2e75b6;
}
/*=====================*/
#d6
{
	border:thin solid #E0E0E0;
	background-color:#2e75b6;
}
#d1
{
	border:thin solid #E0E0E0;
}
#l2
{
	color:#2e75b6;
}
#l3
{
	color:#2e75b6;
}
#l4
{
	color:#2e75b6;
}
#l5
{
	color:#2e75b6;
}
#l6
{
	color:#2e75b6;
}
#d8
{
	color:#2e75b6;
}
#l1
{
	color:#2e75b6;
}
#a1{
color:#ffffff;
}
#btn
{
  color: #ffffff;
  background-color:#2e75b6;
  border-color:#ffffff;
}
#b11
{
  color: #ffffff;
  background-color:#2e75b6;
  border-color:#ffffff;
}

/*=========================*/
#d6
{
	border:thin solid #E0E0E0;
	background-color:#ffc000;
}
#d1
{
	border:thin solid #E0E0E0;
}
#l2
{
	color:#ffc000;
}
#l3
{
	color:#ffc000;
}
#l4
{
	color:#ffc000;
}
#l5
{
	color:#ffc000;
}
#l6
{
	color:#ffc000;
}
#d8
{
	color:#ffc000;
}
#l1
{
	color:#ffc000;
}
#a1
{
color:#ffffff;
}
#btn
{
  color: #ffffff;
  background-color:#ffc000;
  border-color:#ffffff;
}
#b11
{
  color: #ffffff;
  background-color:#ffc000;
  border-color:#ffffff;
}
#newsCarousel .list-group .active {
    color: white;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.48, #4C92CF),
	color-stop(1, #2E74B6),
	color-stop(1, #4C92CF)
);
background-image: -o-linear-gradient(bottom, #4C8FC9 48%, #2E74B6 100%, #4C92CF 100%);
background-image: -moz-linear-gradient(bottom, #4C8FC9 48%, #2E74B6 100%, #4C92CF 100%);
background-image: -webkit-linear-gradient(bottom, #4C8FC9 48%, #2E74B6 100%, #4C92CF 100%);
background-image: -ms-linear-gradient(bottom, #4C8FC9 48%, #2E74B6 100%, #4C92CF 100%);
background-image: linear-gradient(to bottom, #4C8FC9 48%, #2E74B6 100%, #4C92CF 100%);	
}
#article a{
    color: #2E74B6;
}
#article a :hover{
    color: #2A69A3;
}
#article .label-primary{
    color: white;
    background: #2E74B6;
}
#article .label-primary:hover{
    color: white;
    background: #2A69A3;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #2E74B6;
    border-color: #2E74B6;
}
#newsCarousel a{
    color: #2E74B6;
}
#newsCarousel a :hover{
    color: #2A69A3;
}
.btn.btn-link{
    color: #2E74B6;
}
.btn.btn-link:hover{
    color: #2A69A3;
}
