h1{
		color:#4dc081;
		border-bottom:#4dc081 5px solid;


}
#register{
	border-bottom:2px solid #4dc081;
}
#footer-widgets{
	background:#4dc081;
}
#calendar_header{
   background:#4dc081;
}
#calendar .today{
	background:#4dc081;
}

.btn-primary
{
	background:#4dc081;
	border:#4bc090 solid 1px;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#4dc090;border-color:#4dc090}.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#940101}
.nav-pills>li>a{
	color:#151515;
}
.nav-pills>li>a:hover{
	color:#4dc081;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{color:#fff;background-color:#4dc081}
#collection .carousel-indicators li{
	border:1px solid #4dc081;
}
#collection .carousel-indicators li.active{
	border:1px solid #4dc081;
	background:#4dc081;
}
				#myTab li a,.table-hover tr td a {
					color:#4dc081;
				}
section.main_header h1,.pagination a
{	color:#48c081;
}

section.right_section div#contact_form form.form-horizontal div span#name_warning,span#email_warning,span#subject_warning,span#message_warning
{
	color:#4dc081;
}
section.left_section div.map a,.panel-title
{
	color:#4dc081;
}
#d6
{
	border:thin solid #E0E0E0;
	background-color:#4dc081;
}
#d1
{
	border:thin solid #E0E0E0;
}
#l2
{
	color:#4dc081;
}
#l3
{
	color:#4dc081;
}
#l4
{
	color:#4dc081;
}
#l5
{
	color:#4dc081;
}
#l6
{
	color:#4dc081;
}
#d8
{
	color:#4dc081;
}
#l1
{
	color:#4dc081;
}
#a1
{
color:#ffffff;
}
#btn
{
  color: #ffffff;
  background-color:#4dc081;
  border-color:#ffffff;
}
#b11
{
  color: #ffffff;
  background-color:#4dc081;
  border-color:#ffffff;
}
#newsCarousel .list-group .active {
    color: white;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.07, #4DC081),
	color-stop(0.48, #4DC081),
	color-stop(1, #6CE79B)
);
background-image: -o-linear-gradient(bottom, #4DC081 7%, #4DC081 48%, #6CE79B 100%);
background-image: -moz-linear-gradient(bottom, #4DC081 7%, #4DC081 48%, #6CE79B 100%);
background-image: -webkit-linear-gradient(bottom, #4DC081 7%, #4DC081 48%, #6CE79B 100%);
background-image: -ms-linear-gradient(bottom, #4DC081 7%, #4DC081 48%, #6CE79B 100%);
background-image: linear-gradient(to bottom, #4DC081 7%, #4DC081 48%, #6CE79B 100%);	
}
#article a{
    color: #4DC081;
}
#article a :hover{
    color: #43A36E;
}
#article .label-primary{
    color: white;
    background: #4DC081;
}
#article .label-primary:hover{
    color: white;
    background: #43A36E;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #4DC081;
    border-color: #4DC081;
}
#newsCarousel a{
    color: #4DC081;
}
#newsCarousel a :hover{
    color: #43A36E;
}
.btn.btn-link{
    color: #4DC081;
}
.btn.btn-link:hover{
    color: #43A36E;
}

