p{
				padding-top:5px;
				position:relative;
				left:35px;
			}
			#d1{
				position:relative;
				top:70px;
				left:280px;
				width:800px;
				height:500px;
				font-size:16px;
			}
			#d6{
				position:relative;
				left:280px;
				top:70px;
				width:800px;
				height:40px;
				font-size:16px;
				font-weight:bold;
			}
			#d8{
				position:relative;
				top:40px;
				left:50px;
				font-size:24px;
			}
			#t1,#t2,#inputEmail3{
				width:550px;
			}
			#in1{
				position:relative;
				top:30px;
			}
			#in2{
				position:relative;
				top:50px;
			}
			#in3,#in4,#in5{
				position:relative;
				top:90px;
			}
			#in6{
				position:relative;
				top:100px;
				left:350px;
			}
			label{
				position:relative;
				left:50px;
			}
			#l1{
				position:relative;
				left:30px;
			}
			#l4{
				position:relative;
				left:20px;
			}
			#l5{
				position:relative;
				left:20px;
			}
			#l6{
				position:relative;
				left:5px;
			}
			#l2{
				position:relative;
				left:35px;
			}
			#inputEmail3,#s1,#t1,#t2{
				position:relative;
				left:30px;
			}
			#t1,#t2{
				position:relative;
				left:35px;
			}
			#l3,#s2{
				position:relative;
				left:55px;
			}
			#d7{
				position:absolute;
				left:980px;
				top:50px;
			}
