/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2014, 1:18:28 AM
    Author     : Islam Askar
*/
body {
    background-color: #3498DB;
}
.login {
  
  color: #ffffff;
  margin-bottom: 77px;
  padding: 38px 38px 267px;
  position: relative;
}
.login-screen {
  background-color: #3498DB;
  min-height: 400px;
  
}
.login-icon {
  left: 200px;
  position: absolute;
  top: 160px;
  width: 96px;
}
.btn-primary {
  color: #ffffff;
  background-color: #3498DB;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #2980B9;
  border-color: #2980B9;
}
.login-form .login-field:focus {
  border-color: #3498DB;
}
a:hover,
a:focus {
  color: #3498DB;
  text-decoration: none;
}
.login-form .login-field:focus + .login-field-icon {
  color: #3498DB;
}
.login-form .login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 3px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.form-group.focus .form-control,
.form-control:focus {
  border-color: #3498DB;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
