h1{
		color:#cc0000;
		border-bottom:#cc0000 5px solid;


}
#register{
	border-bottom:2px solid #B01C32;
}
#footer-widgets{
	background:#cc0000;
}
#calendar_header{
   background:#cc0000;
}
#calendar .today{
	background:#cc0000;
}

.btn-primary
{
	background:#cc0000;
	border:#cc1111 solid 1px;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#940101;border-color:#940300}.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#940101}
.nav-pills>li>a{
	color:#151515;
}
.nav-pills>li>a:hover{
	color:#cc0000;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{color:#fff;background-color:#cc0000}
#collection .carousel-indicators li{
	border:1px solid #cc0000;
}
#collection .carousel-indicators li.active{
	border:1px solid #cc0000;
	background:#cc0000;
}
#event_cont{
	border-color:#cc000;
}
				#myTab li a,.table-hover tr td a {
					color:#cc0000;
				}



/*=======================================*/
section.main_header h1,.pagination a
{	color:#cc0000;
}

section.right_section div#contact_form form.form-horizontal div span#name_warning,span#email_warning,span#subject_warning,span#message_warning
{
	color:#cc0000;
}
section.left_section div.map a,.panel-title
{
	color:#cc0000;
}
/*=========================================================*/
section.main_header h1
{	color:#cc0000;
}

section.right_section div#contact_form form.form-horizontal div span#name_warning,span#email_warning,span#subject_warning,span#message_warning
{
	color:#cc0000;
}
section.left_section div.map a
{
	color:#cc0000;
}
#d6
{
	border:thin solid #E0E0E0;
	background-color:#cc0000;
}
#d1
{
	border:thin solid #E0E0E0;
}
#l2
{
	color:#cc0000;
}
#l3
{
	color:#cc0000;
}
#l4
{
	color:#cc0000;
}
#l5
{
	color:#cc0000;
}
#l6
{
	color:#cc0000;
}
#d8
{
	color:#cc0000;
}
#l1
{
	color:#cc0000;
}
#a1{
color:#ffffff;
}
#btn
{
  color: #ffffff;
  background-color: #cc0000;
  border-color:#ffffff;
}
#b11
{
  color: #ffffff;
  background-color: #cc0000;
  border-color:#ffffff;
}
#dd1{
color:#ffffff;
}

#newsCarousel .list-group .active {
    color: white;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.48, #CC0000),
	color-stop(0.48, #CC0000),
	color-stop(1, #F51B1B)
);
background-image: -o-linear-gradient(bottom, #CC0000 48%, #CC0000 48%, #F51B1B 100%);
background-image: -moz-linear-gradient(bottom, #CC0000 48%, #CC0000 48%, #F51B1B 100%);
background-image: -webkit-linear-gradient(bottom, #CC0000 48%, #CC0000 48%, #F51B1B 100%);
background-image: -ms-linear-gradient(bottom, #CC0000 48%, #CC0000 48%, #F51B1B 100%);
background-image: linear-gradient(to bottom, #CC0000 48%, #CC0000 48%, #F51B1B 100%);	
}
#article a{
    color: #CC0000;
}
#article a :hover{
    color: #A30303;
}
#article .label-primary{
    color: white;
    background: #CC0000;
}
#article .label-primary:hover{
    color: white;
    background: #A30303;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #CC0000;
    border-color: #CC0000;
}
#newsCarousel a{
    color: #CC0000;
}
#newsCarousel a :hover{
    color: #A30303;
}
.btn.btn-link{
    color: #CC0000;
}
.btn.btn-link:hover{
    color: #A30303;
}

