.top-buffer { margin-top:50px; }
.right-buffer { margin-right:20px;}
.item { height: 250px; width:21%; margin-left: 3%; text-align:center;}
.img-thumbnail-height { height: 100px; }
.img-thumbnail-height img { height: 100%; width:100px;}
.loading {  position:relative; left:50%; top:200px; display: none; margin-bottom: 400px}
.hidden { display:none;}
div.thumbnail h3:hover { cursor: pointer }
ul#std_info { padding: 5px;}
a { color: black; text-decoration:underline;}
#search {margin-top : 55px;}
div.thumbnail span { font-size: 14px; }
div#students-container { min-height: 300px;}
p.notfound { margin-top: 190px; text-align: center;}