#l1, #l2
{
color:#2e75b6;
}
#s12,#s11,#s21,#s22,#s31,#s32,#s41,#s42
{
color:#2e75b6;
}
#aa
{
color:#2e75b6;
}
#a11,#a21,#a31,#a41{
color:#2e75b6;
}
.top-buffer 
{ margin-top:50px; }
.item 
{ height: 140px; 
width:45%; 
margin-left: 3%;}
.img-thumbnail-height 
{ height: 130px;}
.img-thumbnail-height img 
{ height: 100%;}
#img1{
	width:100px;
	height:80px;
}
#th{
	width:800px;
	height:150px;
	position:relative;
	left:130px;
}
div #p{
	width:950px;
	position:relative;
	left:80px;
}
