.top-buffer { margin-top:50px; }
			.item { height: 100px; width:45%; margin-left: 3%;}
			.img-thumbnail-height { height: 130px;}
			.img-thumbnail-height img { height: 100%;}
			#img1{
				width:100px;
				height:80px;
			}
			div #th{
				width:800px;
				height:150px;
				background-color:#ededed;
			}
			div #p{
				width:950px;
				position:relative;
				left:-55px;				
			}
			#img2
			{
				width:70%;
				height:100%;
			}
			.panel-body{
				background-color:#ededed;
			}
