#a1{
color:#ffffff;
}
#btn
{
  color: #ffffff;
  background-color:#2e75b6;
  border-color:#ffffff;
}
#b11
{
  color: #ffffff;
  background-color:#2e75b6;
  border-color:#ffffff;
}
#tb,#div1
{
color:#2e75b6;
}
