#a1{
color:#ffffff;
}
#btn
{
  color: #ffffff;
  background-color:#ffc000;
  border-color:#ffffff;
}
#b11
{
  color: #ffffff;
  background-color:#ffc000;
  border-color:#ffffff;
}
#tb,#div1
{
color:#ffc000;
}
