
			#div1{
				position:relative;
				top:50px;
				left:50px;
				font-size:24px;
			}
			#div2{
				position:relative;
				left:200px;
				top:100px;
				width:800px;
			}
			#d7{
				position:relative;
				left:900px;
				top:80px;
			}
