h1{
		color:#ffc000;
		border-bottom:#ffc000 5px solid;


}
#register{
	border-bottom:2px solid #ffc000;
}
#footer-widgets{
	background:#ffc000;
}
#calendar_header{
   background:#ffc000;
}
#calendar .today{
	background:#ffc000;
}

.btn-primary
{
	background:#ffc000;
	border:#ffc111 solid 1px;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#ffc022;border-color:#ffc022}.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#940101}
.nav-pills>li>a{
	color:#151515;
}
.nav-pills>li>a:hover{
	color:#ffc000;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{color:#fff;background-color:#ffc000}
#collection .carousel-indicators li{
	border:1px solid #ffc000;
}
#collection .carousel-indicators li.active{
	border:1px solid #ffc000;
	background:#ffc000;
}
				#myTab li a,.table-hover tr td a {
					color:#ffc000;
				}

section.main_header h1,.pagination a
{	color:#ffc000;
}

section.right_section div#contact_form form.form-horizontal div span#name_warning,span#email_warning,span#subject_warning,span#message_warning
{
	color:#ffc000;
}
section.left_section div.map a,.panel-title
{
	color:#ffc000;
}
#newsCarousel .list-group .active {
    color: white;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.48, #FFBF00),
	color-stop(0.48, #FFBF00),
	color-stop(1, #FFE61B)
);
background-image: -o-linear-gradient(bottom, #FFBF00 48%, #FFBF00 48%, #FFE61B 100%);
background-image: -moz-linear-gradient(bottom, #FFBF00 48%, #FFBF00 48%, #FFE61B 100%);
background-image: -webkit-linear-gradient(bottom, #FFBF00 48%, #FFBF00 48%, #FFE61B 100%);
background-image: -ms-linear-gradient(bottom, #FFBF00 48%, #FFBF00 48%, #FFE61B 100%);
background-image: linear-gradient(to bottom, #FFBF00 48%, #FFBF00 48%, #FFE61B 100%);
}
#article a{
    color: #FFBF00;
}
#article a :hover{
    color: #F0B922;
}
#article .label-primary{
    color: white;
    background: #FFBF00;
}
#article .label-primary:hover{
    color: white;
    background: #F0B922;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #FFBF00;
    border-color: #FFBF00;
}
#newsCarousel a{
    color: #FFBF00;
}
#newsCarousel a :hover{
    color: #F0B922;
}
.btn.btn-link{
    color: #FFBF00;
}
.btn.btn-link:hover{
    color: #F0B922;
}