			#div1{
				position:relative;
				left:350px;
				top:100px;
				width:680px;
			}
			legend{
				font-size:28px;
				color:#7A129F;
			}
			label{
				font-size:14px;
				color:#342DEF;
				position:relative;
				left:100px;
			}
			.form-group{
				width:50%;
			}
			input,textarea,select{
				position:relative;
				left:200px;
			}
			fieldset{
				border:1px solid #DED7E1;
			}
			#d2{
				position:relative;
				left:250px;
			}
			body{
				background-color:#FFE5CC;
			}
			#div1{
				background-color:#E0E0E0;
			}
			#div2{
				position:relative;
				left:600px;
				top:50px;
			}
			#table{
				position:relative;
				left:250px;
				top:150px;
				width:60%;
			}
			#a1{
				position:relative;
				left:990px;
				top:80px;
				font-size:18px;
			}
			
