			#div12,#t1{				
				border-right: 1px solid #dddddd;
				border-left: 1px solid #dddddd;
			}
			#l1,#l2
			{
				color:#cc0000;
			}
			#p11,#p12,#p13
			{
				color:#cc0000;
			}
			#tr1,#tr2,#tr3
			{
				color:#cc0000;
			}
			#a1
			{
				color:#cc0000;
			}
