			#img1{
				width:100px;
				height:80px;
			}
			div #p{
				width:950px;
				position:relative;
				left:80px;
				top:50px;
			}
			#div1{
				width:800px;
				height:450px;
				position:relative;
				left:230px;
				top:50px;
			}
			#p11 , #p12 , #p13 , #d14{
				padding-top:25px;
				padding-bottom:25px;
				padding-right:50px;
				padding-left:50px;
			}
