@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-black-webfont.eot');
    src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black-webfont.woff') format('woff'), url('../fonts/lato/lato-black-webfont.ttf') format('truetype'), url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bold-webfont.eot');
    src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold-webfont.woff') format('woff'), url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bolditalic-webfont.eot');
    src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-italic-webfont.eot');
    src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic-webfont.woff') format('woff'), url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-light-webfont.eot');
    src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light-webfont.woff') format('woff'), url('../fonts/lato/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular-webfont.woff') format('woff'), url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Flat-UI-Icons';
    src: url('../fonts/Flat-UI-Icons.eot');
    src: url('../fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Flat-UI-Icons.woff') format('woff'), url('../fonts/Flat-UI-Icons.ttf') format('truetype'), url('../fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.gradiant{
    background: #f4f4f4; /* Old browsers */

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 50%, #f4f4f4 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(50%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 50%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 50%,#f4f4f4 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 50%,#f4f4f4 100%); /* IE10+ */

    background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 50%,#f4f4f4 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
/*    background-image: url(../images/background.png);
    background-repeat: repeat;*/
}

body{
  font-size: 14px;
  font-family: "Open Sans", sans-serif !important;
}
.bg{
  width: 100%;
  min-height:650px;
  background-color:#81D0FF;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
@media screen and (max-width: 992px) {
  .bg{
    min-height:750px;
  }
}
#os-news{
    padding-top: 10px;
}
.disappear{
  color:rgba(255,255,255,0) !important;
}
/*Nav Bar*/
.navbar{
  margin:0px !important;
  z-index: 10000;
  padding:0px 10px;
  border-radius: 0px;
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
  /*box-shadow: darkorchid;
  box-shadow: 0px 0px 1px 0px rgba(46,61,73,0.15);*/
  width:100%;
}
.fixed{
  position:fixed;
}
.navbar-nav>li>a,.navbar-brand{
  line-height: 2.8rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color:#ffffff !important;
}
.navbar-brand>img{
    width: 7rem;
}
.navbar-white .navbar-brand>img{
    width: 3rem !important;
}

.navbar-nav>li.active>a{
  font-weight:bold;
  background-color: rgba(255,255,255,0) !important;
}
.navbar.navbar-white{
  background-color: rgb(255,255,255) !important;
  border-bottom-color: #F1F1F1;
  box-shadow: darkorchid;
  box-shadow: 0px 0px 1px 0px rgba(46,61,73,0.15);
}
.navbar-white .navbar-nav>li>a{
  color:#4A4A4A !important;
}

/*Category Container*/
.cat-container{
  text-align: center;
}
.cat-container>h2{
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  font-size: 2.7rem;
  font-weight: 200;
}
.cat-container>[class*="col"]{
    padding: 50px;
    padding-top:10px;
}
@media (max-width:992px) {
  #os-services.cat-container>[class*="col"]{
      padding: 15px;
  }
}

/*Card*/
.card{
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  transition: all 0.3s ease;
  min-height:31rem;
}
.card.c-round{
  border-radius: 0.575rem;
}

.c-overlay{
    height: 100%;
    width:100%;
    z-index:9999;
}
.card.c-round .c-overlay{
  border-top-right-radius:0.575rem;
  border-top-left-radius:0.575rem;
}

.c-image{
  /*background: url("https://2.bp.blogspot.com/-Ef4a24eCxZA/V2eyEiaNFCI/AAAAAAAAUkw/2rhhpoQW8NMPHgW0xsWm541kBKBPL72YwCLcB/s400/Happy-New-Year-Images-2017-2%2Bcopy.jpg") no-repeat top left;*/
  height: 156px;
  background-size: cover !important;
  width: 100%;
}
.card.c-round .c-image{
  border-top-right-radius:0.575rem;
  border-top-left-radius:0.575rem;
}

.card .c-content{
  padding: 15px 15px;
  z-index:9999;
  height: 50%;
  background: white;
}

.card.c-round .c-content{
  border-bottom-right-radius:0.575rem;
  height: 60%;
  border-bottom-left-radius:0.575rem;
}

.card>.c-content>.c-title{
  height: 3.25rem;
}
.card .c-overlay .c-title{
  line-height: 6.1;
  color:white;
  font-size: 27px;
  text-align: center;
}
.card>.c-content>.c-desc{
  height: 11rem;
  font-size: 1.3rem;
  color: #8D8B8B;
}

.cards>.card{
  display:none;
}
.cards>.card.active{
  display:block;
}
.cards>.card-indicators{
  text-align: center;
}
.cards>.card-indicators>.active{
      color: #158174;
}
.cards .row{
  margin:auto 10px;
}
.cards .glyphicon{
  color:rgba(255, 255, 255,0.43);
}
.cards .card-prev>span.glyphicon,.cards .card-next>span.glyphicon{
  color:rgba(255, 255, 255,0.82);
}

/* Mini Card*/
.mini-card{
  min-height:12rem;
  margin-bottom: 0px;
  margin:auto 10px;
}
.mini-card>.mc-title,.mini-card>.mc-date{
  text-align: center;
  min-height:12rem;
  padding: 5px;
  background: #00A743;
  color: white;
}
.cards .card-prev,.cards .card-next{
  text-align: center;
}

.mc-date>.c-day{
  font-size: 60px;
  line-height: 1;
}
.mc-date>.c-month{
  font-size: 18px;
}
.mini-card>.mc-content{
  vertical-align: top;
  padding: 13px 2px 0px 5px;
}
.mini-card>.mc-content>.c-title{
  padding-left: 3px;
  font-size:17px;
}
.mini-card>.mc-content>.c-title{
  padding-left: 3px;
}
.mini-card>.mc-content>.c-desc{
  font-size: 11px;
  color: #8D8B8B;
}

/*Content Frame*/
.content-frame{
  text-align: left;
  padding-left:25px;
  padding-right:25px;
}
.content-frame.f-left{
  padding-left: 150px;
}
.content-frame.f-right{
  padding-right: 150px;
}
.content-frame>.c-icon{}
.content-frame>.c-title{}
.content-frame>.c-desc{
  font-size:1.2rem;
  line-height: 2.5rem;
  color: #797878;
}

/*Feature*/
.feature{
  text-align: left;
}
.feature>.f-desc{
  font-size:1.2rem;
  line-height: 2.5rem;
  color: #797878;
}
.f-search{
  margin-top:20px;
  width:80%;
  line-height: 4.5rem;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  font-size: 2rem;

}
.tab-content{
  padding:10px 120px;
  text-align: center;
}

/*Image Frame*/
.image-frame img{
  width:75%;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}

/*OS Hedings*/
.os-about>h2{
  color:#02b3e4;
}
.os-about{
  padding-top: 30px !important;
}
#os-feature{
  padding:11% 3% 3% 3%;
}
#os-feature .card:not(.mini-card){
  min-height: 43rem;
}
#os-services>h2{
  color: #FF8100;
}
#os-tracks>h2{
  color: #FF2929;
}
#os-tracks>[class*="col"]{
  padding: 30px;
}
#os-tech .glyphicon{
  color:#333333;
}
a:hover{
  text-decoration: none;
}
/*Overlay Background Colors*/
.day-it{
  background-color: rgba(0, 245,212, 0.65);
}
.orange-it{
  background-color: rgba(245,158,0,0.65);
}
.green-it{
  background-color: rgba(0, 245, 41, 0.65);
}
.red-it{
  background-color: rgba(255, 97, 89, 0.68);
}
.yellow-it{
  background-color: rgba(244, 247, 34, 0.68);
}
.purple-it{
  background-color: rgba(165, 34, 247, 0.68);
}
.night-it{
  background-color: rgba(0, 8, 255, 0.68);
}

/*Content Color*/
.red-c{
      color: #FF3A3A;
}
.purple-c{
      color: #ff5483;
}


@media screen and (max-width: 992px) {
  .image-frame img{
    width:75%;
  }
  .os-about>[class*="col"]{
    padding-top:5%;
    padding-bottom:5%;
  }
  .content-frame{
    text-align: center !important;
  }
  .content-frame.f-left,.content-frame.f-right{
    padding-left: 50px;
    padding-right: 50px;
  }
}


/*OS Community*/
#os-community{
  background-color: #EDFFDC;
  padding:25px 50px 100px 50px;
}
#os-community .nav-pills>li.active>a{
  color: #58B700;
  font-size: larger;
  background-color:#EDFFDC;
}
#os-community .nav-pills>li>a:hover{
  color: #58B700;
  background-color: #EDFFDC;
}
#os-community .nav-pills>li>a{
  color: #4A4A4A;
}

#os-community .nav-pills{
  background-color: #EDFFDC;
}
#os-community>h2{
  color: #4A4A4A;
}
#os-community .image-icon img{
  width: 60%;
}
/*OS Technologies*/
#os-tech{
      padding: 20px 150px;
}
#os-tech.cat-container>[class*="col"]{
    padding: 20px;
}

#os-tech .icon-image>i{
  font-size:6rem;
  color: #4A4A4A;
}
#os-tech .icon-image>i:hover{
  color: inherit;
}
.icon-image[class*="devicon"]:before{
    content: "";
}
/*OS Team*/
#os-team>[class*="col"]{
  padding: 20px;
}
.member{
  text-align: center;
}
.member>.m-image>img{
  width:85%;
  height:85%;
  border-radius:50%;
}
.member>.m-details>h4{
  text-transform: uppercase;
  font-size: 1.5rem;
}
#os-team{
  padding: 25px 70px;
  background: #EDFBFF;
}

#os-footer{
  min-height: 300px;
  background-color: #F3F3F3;
}

#os-contact{
  margin-bottom: 0px;
}
#os-contact .c-overlay{
  min-height:300px;
  padding:2% 3% 3% 3%;
}
#os-contact .c-image{
  min-height:300px;
}
#os-contact h2{
  color:white;
  padding-bottom:3%;
}

#os-contact p{
  color: lightblue;
  width: 40%;
  margin: 0 auto 3% auto;
}
@media screen and (max-width:768px){
  #os-contact p{
    width: 60%;
  }
}

.btn-os{
  border:1px solid #047AFF;
  background: #047AFF;
  color:white;
  font-size: 15px;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border-radius: 2px;
}
.btn-os:hover{
  border:1px solid #2F90FD;
  background: #2F90FD;
  color:white;
}
.btn-os:focus{
  color:white;
}

.profile-card{
  border:1px solid rgba(193,193,193,0.17);
  box-shadow: 4px 7px 20px 0px rgba(46,61,73,0.07);
  min-height: 28rem;
}
#os-jobs.cat-container>[class*="col"],#os-profiles.cat-container>[class*="col"] {
  padding: 25px;
  /*padding-top: 10px;*/
}
.profile-card>.pc-logo{
  text-align: center;
  padding: 3rem 0.6rem 0.9rem 0.6rem;
  height: 11rem;
}
.profile-card>.pc-logo>img{
  height:75%;
}
.profile-card>.pc-content{
  text-align: left;
  padding-left:10px;
}
.profile-card>.pc-content>.pc-location{
  font-size:13px;
  color: #7D7D7D;
}
.profile-card>.pc-content>.pc-job-title{
  font-size:13px;
}
.profile-card>.pc-footer{
  margin:auto 5px;
  margin-top:30px;
  border-top:1px solid rgba(193,193,193,0.17);
  padding:7px 10px 10px 10px;
}
.profile-card>.pc-footer>.pc-time,.profile-card>.pc-footer>.pc-social{
  font-size: 11px;
  color: #909090;
}
.profile-card>.pc-footer>.pc-social{
  font-size: 12px;
}

.inp-os{
  background: rgba(255, 255, 255, 0.84);
  padding-left: 18px;
  width: 44%;
  margin:55px;
  line-height: 4.5rem;
  border: 0px solid rgba(216, 216, 216, 0.74);
  border-radius: 2px;
  font-size: 2rem;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.25);
}
#os-profiles .profile-card>.pc-logo{
  height: 16rem;
}
#os-profiles .profile-card{
  min-height: 34rem;
}
#os-profiles  .profile-card>.pc-logo>img{
  height:100%;
}
#os-profiles  .profile-card>.pc-logo>img{
  height:100%;
}
.pc-social>a{
  padding-right:5px;
  color:inherit;
  font-size: 12px;
}
.pc-social>a:hover{
    color:red;
}
.inp-os.centerized{
  margin-top: 115px;
}
.btn-os.largify{
  font-size: 20px;
  padding: 8px 16px;
}
.btn-os.greenify{
  background: #02A000;
  border: 1px solid #02A000;
}
.btn-os.greenify:hover{
  background: #0EC10C;
  border: 1px solid #0EC10C;
}
#os-contact h3{
      margin: 36px;
      color:rgba(216, 216, 216, 0);
}


#header{
    background: #404040;
    height:40px;
    position:relative;
}

#socialText{
    font-size: 18px;
    padding:5px;
    float: left;
    color: white;
    font-weight: bold;
}
#social ul{
    list-style:none;
    padding:5px 0 0 0;
    float:left;
}
#color li,#social ul li{
    float:left;
    display:block;
    width:30px;
    height:30px;
    margin:1px;
}
#color li a,#social ul li a{
    border-radius:3px;
    cursor:pointer;
    display:block;
    width:30px;
    height:30px;


}
.width-container{
    background-color: black;
}
#social ul li a.facebook{
    background: url(../images/social.png);
}
#social ul li a.facebook:hover{
    background: url(../images/color-social.png);
}
#social ul li a.google{
    background: url(../images/social.png) 127px 0;
}
#social ul li a.google:hover{
    background:  url(../images/color-social.png) 95px 0;
}
#social ul li a.twitter{
    background: url(../images/social.png) 92px 0;
}
#social ul li a.twitter:hover{
    background: url(../images/color-social.png) 63px 0;
}
#social ul li a.linkedin{
    background: url(../images/social.png) 61px 0;
}
#social ul li a.linkedin:hover{
    background: url(../images/color-social.png) 30px 0;
}
#color li a.red{
    background:url(../images/color.png);

}
#color li a.blue{
    background:url(../images/color.png) 94px 0px;

}
#color li a.green{
    background:url(../images/color.png) 60px 0px;

}
#color li a.yellow{
    background:url(../images/color.png) 30px 0px;

}
#color{
    position:relative;
    list-style:none;
    padding:1px 1px;
    right:-44%;

}
#colorText{
    position:relative;
    right:35%;
    float: right;
    font-size: 18px;
    padding:5px;
    color: white;
    font-weight: bold;

}
/*#nav{
    background:#ededee;
}*/

#logo{
    position:absolute;
    right:5%;
    z-index:2;
}
.nav-pills{
    padding:.5% 2%;
    margin:2% 0;
    background: whitesmoke;
    text-transform: uppercase;
    font-size:16px;
}

/*.nav-pills>li>a:hover {
    background-color: #d5d5d5;
}*/
.carousel-inner img{
    width:100%;

}
#register{
    padding:2% 1%;
    padding-bottom: 4%;

    background-color: #d5d5d5;

}
#register span{
    word-wrap: break-word;

}
.indexsider .carousel-inner img{
    width:100%;
    height:319px;
}
#register .btn{
    float:right;

}
h1{
    padding-bottom:1%;
    margin-bottom:2%;
}
#services .caption{
    text-align:center;
}
#services .caption h3{
    color:#1c1c1d;
}
#services .caption h3+p{
    color:#415361;
    height:20%;
}

.col-md-8 ul{
    list-style:none;
}
.col-md-8 ul li{
    padding-left:2%;
    height: 65px;
    margin-top: 10px;
}
.col-md-8 ul li.week{
    border-left:#2e75b6 solid 5px;
}
.col-md-8 ul li.month{
    border-left:#4dc081 solid 5px;
}

.col-md-8 ul li span{
    float:left;
    font-size:45px;
    font-weight:bold;
    margin-right:2%;
    color:#415361;
}
.col-md-8 ul li p h4{color:#c1c1c1;}
.col-md-8 ul li p p{color:#415361;}
.col-md-8 ul li span+p{
    padding-top:.1%;
}
#poll a{
    margin:1%;
}

/*
=============================================== 05. FOOTER STYLES ===============================================
*/
footer a{
    color:#CCC;
}
footer a:hover {color:#d3d3d3}
#footer-widgets .width-container {
    padding:36px 0px 25px 0px;

}
footer #copyright {
    padding:10px 0px 10px 0px;
    color: white;
    background:#404040;
}
footer #footer-widgets .social-icons {float:none; padding-top:15px;}
footer .social-icons {float:right; padding-top:28px; margin-left:0px; }
footer .social-icons a { margin-bottom:18px; -webkit-transition: none; -moz-transition: none; transition:none;}
#os-footer ul {margin:-1px 0px 0px 0px; padding:0px; list-style:none;}
#os-footer ul li {
    margin:0px 0px 0px 0px;
}
#footer-widgets .widget {
    float:left;
    width:30%;
    margin-left:1%;
    margin-right:1%;
    padding: 10px;
}

/*footer{
    margin-top: 2%;
    background:#ededee;
}*/
#footer-widgets{
    color:#f4f4f4;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px

}
#menu-main-navigation-1 li a{
    color:#f4f4f4;
    cursor:pointer;
}
#subscribe{
    background:#CCC;
    color: #2C2C2C;
}
/*=================================calendar ==================================*/
#calendar{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
}
#calendar_weekdays div{
    display:inline-block;
    vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    color: #787878;
}
#calendar_content{
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
}
#calendar_content div{
    float: left;
}
#calendar_content div:hover{
    background-color: #d5d5d5;
}
#calendar_content div.blank{

    padding: 14px 0px;
}
.col-md-8 ul li.today{
    border-left:#cc0000 solid 5px;
}
#day h4, #dayBefore h4, #dayAfter h4 {
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

#day .btn, #dayBefore .btn, #dayAfter .btn {
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0px;
}
#calendar_header, #calendar_content div.today{
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;

}
#calendar_header, #calendar_content div.today{
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;

}
#calendar_content .btn{
    padding: 0px;
}
#calendar_content div.today{
    color: #FFFFFF;
}
#calendar_header{
    width: 100%;
    text-align: center;
    padding:0 0 0 10%;
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}
#calendar_header h1{
    font-size: 1.7em;
    font-weight: bold;
    color:#FFFFFF;
    float:left;
    width:70%;
    margin:0;
    margin-top:10px;
    border:none;
}
i[class^=glyphicon]{
    background:#f1f1f1;
    float: left;
    padding:10px 0px;
    margin-top:15px;
    border-radius:5px;
    cursor:pointer;
}
/*==============================news slider=================================*/
#collection .carousel{
    height:210px;
}
#collection .carousel-control{
    background:none;
    height:160px;
}
#collection .carousel-indicators{
    top:210px;
}

#collection .slide .carousel-inner{
    width:100%;
    height:100%;
}
#collection .slide .item{
    width:100%;
    height:250px;
    background:none;
}

#collection .slide .item img{
    width:100%;
    height:210px;
}
#collection .slide .carousel-caption {

    right: 0;
    left: 0;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.8);;
    color: black;
    text-shadow: none;


}
#collection .slide .carousel-caption  h4{
    color: black;
    font-weight: bold;
    margin: 0 0;
    padding-top: 0;
    text-align: left;
}
#collection .slide .carousel-caption  p{
    text-align: left;

}
/*================================================*/
.caption h3 +p{
    height:142px;
    overflow:hidden;
}
.modal-body img{
    width:100%;


}
.modal-body img{
    float:left;
    clear:right;
    margin:1%;
}
/*===============================================*/
div.container-fluid
{

    padding: 0;
    margin: 5px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    margin:auto;
}
section.main_header
{
    margin-left: 1.6%;
    margin-right:1.6%;
    height: 40px;
}
section.main_header h1
{
    padding-left: 20px;
    font-weight:bold;
}

/*------GET IN TOUCH & SEND US A MESSSAGE------*/
section.left_right
{
    width: 100%;
    height: 70px;
}
section.left_right div h2
{
    width: 50%;
    float: left;
    text-align: center;
    color:#615545;
    font-family:fanwood;
    font-weight:bold;
}

/*---------Body Section----------*/
section.left_section
{
    width: 40.5%;
    float: left;
    margin-top: 20px;
    margin-left:20px;
}
section.right_section
{
    width: 46.5%;
    float: right;
    margin-top: 20px;
    margin-right:20px;
    padding-bottom:60px;
}
section.right_section div#contact_form form.form-horizontal div span#name_warning,span#email_warning,span#subject_warning,span#message_warning
{
    font-weight:bold;
    text-shadow:5px 2px 2px #FFFF66;
}
section.left_section div.address p
{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-family:fanwood;
    font-size:15px;
}
section.left_section div.map
{
    width: 400px;
    height: 450px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
section.left_section div.map a
{
    font-weight:bold;
    text-align:left;
}

/*-----Static Page------*/
section.update
{
    width: 50%;
    height: 40px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:40px;
    height:75%;
}

.js-video {
    height: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.js-video.widescreen {
    padding-bottom: 60.25%;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
#osCarousel .carousel-control.right{
    right : 0;
    left : auto;
    background-image: none;
}
.carousel-control {
    padding-top:4%;
    width:5%;
}
/*==================belal=================*/
#secRow,#firstrow{
    width:100%;
    margin:0;
}
#belal_c{
    margin:0 auto;
    width:90%;

}
#map_canvas {
    height: 100px;
    width: 550px;
    position: relative;
    padding-bottom: 50%; // This is the aspect ratio
    overflow: hidden;
}
#map_canvas .gm-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
#getDirections {
    margin-top: 2%;
}

.progress {

    margin-bottom: 10px;

}

#pollDisplay h4{
    margin-bottom: 4px;
}
.progress .red{
    background-color: #FF4040;
}
.progress .blue{
    background-color: #4598E4;
}
.progress .green{
    background-color: #4dc081;
}
.progress .yellow{
    background-color: #FFCF3C;
}


#slider .slide .carousel-caption {
    left: 5%;
    padding-bottom: 5%;
    right: 25%;
}
#slider .slide .carousel-caption  h1{
    color: white;

    border-bottom: 0px;
    font-weight: bold;
    text-align: left;
    font-size: 60px;
}

#slider .slide .carousel-caption  p{
    color: white;

    border-bottom: 0px;
    font-weight: bold;
    margin: 0 0;
    padding-top: 0;
    text-align: left;
}



#slider .carousel-control.left{
    background-image: none;
}

#slider .carousel-control.right{
    background-image: none;
}

#scrollUp {
    bottom: -10px;
    right: 20px;
    width: 70px;
    height: 50px;
    padding: 10px 5px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #1D6275;
    -webkit-box-shadow:0 0px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0px 2px 1px rgba(0,0,0,0.2);
    box-shadow:0 0px 2px 1px rgba(0,0,0,0.2);
    background-color:#ffffff;
    background-repeat: repeat-x; -webkit-transition: bottom 150ms linear;
     -moz-transition: bottom 150ms linear;
    transition: bottom 150ms linear
}
#scrollUp:hover {
    bottom: 0px
}

#nav .navbar-right{
    margin-right: 20%

}

.passStrengthify{
    float: right;
}

#login .dropdown-menu {
    min-width: 230px;
}

#login .row {
    margin-left: 0;
}
#login a:focus {
    background-color: white;
}
#login a {
    color: black;
}

#socialRegistration {
    text-align: center;
    border-left: 2px solid black;
    height: 330px;
    margin-left: 5%
}

#menuWelcome {
    list-style-type: none;
    padding-top: 5px;
}
#menuWelcome .glyphicon{
    left: 5px;
    top: 5px;
}

ol.breadcrumb {
    background-color:  white;
    margin-bottom: 0px;
}
#testimonial .carousel-inner{
    margin-left: 5%;
}
#testimonial .carousel-inner .item img {
    width:100%;
    height:100%;

}
#testimonial .item .thumbnail {
    margin-bottom:0;

}
#testimonial .carousel-control.left, .carousel-control.right {
    background-image:none !important;
}
#testimonial .carousel-control {
    background:#ddd;
    color:#999;
    padding: 12px 0;
    width:26px;
    top:auto;
    left:auto;
    bottom:0;
    opacity:1;
    text-shadow:none;
}
#testimonial .carousel-control.right {
    right:10px;
}

#testimonial .carousel-control.left {
    right: 40px;
}

#testimonial .carousel-control .glyphicon-chevron-left {
    left: 10%;
    top: 5%
}

#testimonial .carousel-control .glyphicon-chevron-right {
    right: 20%;
    top: 5%
}
#testimonial blockquote{
    border-left: 0px;
}

#newsCarousel .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    text-align:left;
    padding:10px;
    background: rgba(255, 255, 255, 0.8);
    text-shadow:none;

}

#newsCarousel .list-group {
    position:absolute;
    top:0;
    right:0;
}
#newsCarousel .list-group-item {
    border-radius:0px;

    cursor:pointer;
}
#newsCarousel .list-group .active {
    background-color:#eee;
}
#newsCarousel .carousel-control.left{
    background-image: none;
}
#newsCarousel p{
    color: black;
}

#newsCarousel .col-md-8{
    padding: 0;
}
#newsCarousel .item>img{
    height: 430px;
}

#article{
    padding-bottom: 10px;
    border-bottom: 2px dashed #e5e5e5
}

.dates h2{
    width:100%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #415361;
    margin-bottom: 0;

}
.dates h3{
    width:100%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #415361;
    margin-top: 0;
}
.dates h4{
    width:100%;
    text-align: center;
    font-size: 30px;

}
.monthRed{
    color: #cc0000;
}
.monthBlue{
    color: #2e75b6;
}
.monthGreen{
    color: #4dc081;
}
.monthOrange{
    color: #ffc000;
}
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 45px;
  left: 15px;
  color: white;
  display: none;
}
.blueimp-gallery-controls > .description {

  text-align: center;
  display: block;
}

#footer-widgets{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

[class *= "col"] h1,[class *= "fill"] h1{
    font-size: 25px;
    border-bottom: 1px solid;
}
