<br /><br />
 <form method="post">
    <div class="form-group">
        <label for="name">Category Name:</label><br>
        <input type="text" name="name" required>
    </div>
     <div class="form-group">
         <label for="description">Description:</label><br>
        <textarea name="description" required style="width:400px;height:100px"></textarea>
    </div>
     <input type="submit" class="btn btn-primary" value="Add Category">
</form>