<br /><br />
<a href="<?php echo $this->baseUrl()."/administration/forumcategory/add"?>" class="btn btn-primary">
    Add Category
</a><br><br>
<table class="table table-bordered table-hover">
    <tr>
        <td>Category Name</td>
        <td>Operations</td>
    </tr>
    <?php foreach ($this->data as $category): ?>
    <tr>
        <td><?php echo $category['name'];?></td>
        <td>
                <a href=<?php echo $this->baseUrl()."/administration/forumcategory/edit/id/".$category['cat_id'];?> class="glyphicon glyphicon-eye-open"></a>	
            
                <a href=<?php echo $this->baseUrl()."/administration/forumcategory/delete/id/".$category['cat_id'];?> class="glyphicon glyphicon-eye-close"></a>
        </td>
     </tr>
     <?php endforeach;?>
</table>