<br /><br />
<?php if(isset($this->data)):?>
<form role="form" method="post">
    <div class="form-group">
        <label for="categoryName">Category Name:</label>
        <select name="categoryName">
            <?php foreach ($this->data as $form):?>
            <option value="<?php echo $form['id'];?>"><?php echo $form['name'];?></option>
            <?php endforeach;?>
        </select>
    </div>
    <div class="form-group">
     <label for="competitionName">Competition Name:</label>
     <input type="text" name="competitionName">
     </div>
    
     <br/>
     <input type="submit" value="Add" class="btn btn-primary"><br>
     <br>
    
</form>
<?php else:?>
<h3>You should add category at first</h3>
<a href="<?php echo $this->baseUrl()."/administration/competitioncategory/add/"?>"
   class="btn btn-primary">
    Add Category
</a>
<?php endif;?>