<div class="text-center">
     <ul class="pagination">
        <!-- First page link -->
        <?php if (isset($this->previous)): ?>
        <li><a href="<?php echo $this->url(array('page' => $this->first)); ?>">Start</a> </li>
        <?php else: ?>
                <li class="disabled"><span>Start</span></li>
        <?php endif; ?>
    
        <!-- Previous page link -->
    
        <?php if (isset($this->previous)): ?>
              <li><a href="<?php echo $this->url(array('page' => $this->previous)); ?>">&lt; Previous</a></li>
        <?php else: ?>
              <li class="disabled"><span>&lt; Previous</span></li>
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li ><a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a></li>
            <?php else: ?>
                <li class="active"><span><?php echo $page; ?></span></li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
              <li><a href="<?php echo $this->url(array('page' => $this->next)); ?>">Next &gt;</a></li>
        <?php else: ?>
              <li class="disabled"><span>Next &gt;</span></li>
        <?php endif; ?>
        <!-- Last page link -->
        <?php if (isset($this->next)): ?>
        <li ><a href="<?php echo $this->url(array('page' => $this->last)); ?>">End</a></li>
        <?php else: ?>
            <li class="disabled"><span >End</span></li>
        <?php endif; ?>
            <li ><span>&nbsp; Page <?php echo $this->current; ?> of <?php echo $this->last; ?></span></li>
     </ul>
 </div>