<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Admission Interviews</h3>
            </div>
    <div class="panel-body">
        <div class="row">
        <div class="col-md-6">
          <a href="<?php echo $this->baseUrl() ?>/administration/applicant/add" class="thumbnail">
              <span class="glyphicon glyphicon-user"></span> New Applicant
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="thumbnail">
              <span class="glyphicon glyphicon-stats"></span> Applicant Result
          </a>
        </div>
      </div>
    </div>
    
</div>