<div id='message'>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Admission Interviews Categories</h3>
    </div>
    <div class="panel-body">
        <div id="categories">
            <?php
            for ($i = 0; $i < count($this->admissionCategories); $i++) {
                if ($i % 4 == 0)
                    echo '<div class="row">';
                ?>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><button class="btn btn-link questionCategory" value="<?= $this->admissionCategories[$i]['id'] ?>" ><?= $this->admissionCategories[$i]['name'] ?></button></h3>
                        </div>
                    </div>
                </div>
                <?php
                if (($i + 1) % 4 == 0)
                    echo '</div>';
            }
            if (count($this->admissionCategories) % 4)
                echo '</div>';
            ?>
        </div>

    </div>
    <div id="question">
        
        <div class="row separator">
            <div class="col-md-10">
                <h3><?php echo $this->applicantName ?> | <span class="label label-primary"><?php echo $this->applicantCode ?></span></h3>
            </div>
            <div class="col-md-2">
                <button id="endInterview" class="btn btn-danger pull-right vcenter">End Interview</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-4 decorate">
                <h3>Interview Time</h3>
                <div class="timer"></div>

            </div>
        </div>
        <div class="row questionOptions">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="categorySelect" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-4">
                        <select id="categorySelect" class="form-control">
                            <?php
                            foreach ($this->admissionCategories as $category) {
                                echo "<option value='" . $category['id'] . "'>" . $category['name'] . "</option>";
                            }
                            ?>
                        </select>
                    </div>
                    <label for="levelSelect" class="col-sm-2 control-label">Level</label>
                    <div class="col-sm-4">
                        <select id="levelSelect" class="form-control">
                            <?php
                            foreach ($this->admissionLevels as $level) {
                                echo "<option value='" . $level['id'] . "'>" . $level['name'] . "</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning pull-right" id='change'>Another Question</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="hidden" id="questionId" value="" />
                        <div id="interviewQuestion">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 decorate">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-danger btn-lg">
                        <input type="radio" name="answers" id="evaloption1" value="0" > Away 
                    </label>
                    <label class="btn btn-default btn-lg">
                        <input type="radio" name="answers" id="evaloption2" value="5"> Near
                    </label>
                    <label class="btn btn-success btn-lg">
                        <input type="radio" name="answers" id="evaloption3" value="10"> Exact
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<?php $this->headLink()->appendStylesheet($this->baseUrl() . "/css/TimeCircles.css"); ?>
<?php $this->headScript()->appendFile($this->baseUrl() . "/js/TimeCircles.js"); ?>
<?php $this->headScript()->appendFile($this->baseUrl() . "/js/admissioninterview.js"); ?>