<?php $this->headLink()->appendStylesheet($this->baseUrl('css/forum.css'))?>

<!-- Logo + Breadcrump -->
    <a href="<?php echo $this->url(array('controller'=>'forum','action'=>'index'));?>">
        <img src="<?php echo $this->baseUrl('images/forum_logo.png'); ?>" alt="Forum-Home"/>
    </a>
    <ul class="breadcrumb">You are here :
	<li>
            <a href="<?php echo $this->baseUrl('forum/index'); ?>"> Home</a>
	</li>
	<li>
            <a href="<?php echo $this->url(array('controller'=>'forum','action'=>'section','id'=>$this->topic[0]['section_id']));?>">
                <?php echo $this->topic[0]['sec_name'];?>
            </a>
	</li>
        <li class="active">
            <?php echo $this->topic[0]['Subject'];?>
        </li>
    </ul>
<!-- End of Logo + Breadcrump -->
<div class="well ">
        <div class="postbody span9">
            <h3 class="first">
                <a href="<?php echo $this->url(array('controller'=>'forum','action'=>'topic','id'=>$this->id));?>">
                    <?php echo $this->topic[0]['Subject'];?>
                </a>
            </h3>
            <p>posted by 
                <strong>
                    <a href="<?php echo $this->url(array('controller'=>'user','action'=>'view','id'=>$this->topic[0]['user_id']));?>">
                        <?php echo $this->topic[0]['username']?>
                    </a>
                </strong> 
                >> <?php echo $this->topic[0]['CreatedDate']?> 
            </p>
            <div class="content">
                <?php echo $this->topic[0]['body'];?>
            </div>
	</div>
        <dl class="postprofile span3">
            <dt>
                <img src ='<?php echo $this->baseUrl('images/user-profile.jpg') ?>'><br><br>
                <a href="<?php echo $this->url(array('controller'=>'user','action'=>'view','id'=>$this->topic[0]['user_id']));?>">
                    <?php echo $this->topic[0]['username']?>
                </a><br><span class="label  label-danger">offline</span>
            </dt>
            <dd><strong>Posts:</strong> 1</dd>
            <dd><strong>Joined:</strong> Thu Jan 02, 2014</dd>
	</dl>
	<div class="back2top"><a href="#" class="top" title="Top">Top</a></div>
</div>