<?php
if (count($this->messages) > 0) {
    foreach ($this->messages as $message) {
        if (strpos($message, "successfully")) {
            ?>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <?php
                echo "<strong>$message</strong>";
                echo '</div>';
            } else {
                ?>
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <?php
                    echo "<strong>$message</strong>";
                    echo '</div>';
                }
            }
        }
        ?>

        <div id="delete_div" class="alert alert-danger fade in">

            <h4><strong>Delete Action!</strong></h4>
            <p>Are you sure that you want to delete this item ?</p>
            <p>
                <a id="delete_action" class="btn btn-danger" href="#">Ok, Delete</a> <a id="keep_action" class="btn btn-default"  href="#">No, Keep it</a>
            </p>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">List Users</h3>
            </div>
            <div class="panel-body">
                <div class="pull-right"><a id="addAction" class="btn btn-primary " href="<?php echo $this->baseUrl() ?>/administration/user/add"><span class="glyphicon glyphicon-plus"></span> Add User</a></div>
                <?php
                if (count($this->paginator)) {
                    ?>

                    <table class="table table-hover">
                        <thead>
                        <th>User Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Active</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
    <?php
    foreach ($this->paginator as $user) {
        echo "<tr>";
        echo "<td>" . $user['uId'] . "</td>";
        echo "<td>" . $user['firstName'] . ' ' . $user['lastName'] . "</td>";
        echo "<td>" . $user['email'] . "</td>";
        echo "<td>" . $user['name'] . "</td>";
        echo "<td>";
        if ($user['isEnabled']) {
            echo "<input type='checkbox' checked='checked' disabled='disabled' />";
        } else {
            echo "<input type='checkbox' disabled='disabled' />";
        }
        echo "</td>";
        echo '<td><a href="' . $this->baseUrl() . '/administration/user/edit/id/' . $user['uId'] . '"><i class="glyphicon glyphicon-edit"></i></a>';
        echo '<a href="#"><i class="glyphicon glyphicon-remove" id="delete_' . $user['uId'] . '"></i></a>';

        echo '</td>';
        echo "</tr>";
    }
    ?>
                        </tbody>
                    </table>

                            <?php
                            echo $this->paginationControl($this->paginator, 'sliding', 'pagination.phtml');
                        } else {
                            ?>
                    <div>You do not have any roles</div>
                <?php } ?>
            </div>
        </div>