<div class="panel panel-primary">
    <div class="panel-heading">
    <h3 class="panel-title">Profile</h3>
  </div>
    <div class="panel-body">
        <img class="img-thumbnail pull-left" id="profileImage" src="<?=$this->baseUrl()?><?=(empty($this->user['image']))?"/images/default_image.png":"/upload/profile/".$this->user['image']?>" alt="User Image" />
        <div class="pull-right"><a id="addAction" class="btn btn-primary " href="<?php echo $this->baseUrl() ?>/administration/user/editprofile">Edit Profile</a></div>
        <div class="caption">
            <h1 id="profileTitle"><strong>{{ <?=$this->user['firstName']." ".$this->user['lastName']?> }}</strong></h1>
            <h3><em><span class="label label-primary"><?=$this->user['jobTitle']?></span></em></h3>
            <?php if($this->user['facebook']) { ?>
            <a href="<?=$this->user['facebook']?>"  target="_blank" >
                <img src="<?=$this->baseUrl()?>/images/icons/png/fb.png" class="profileIcon">
            </a>
            <?php }?>
            <?php if($this->user['twitter']) { ?>
            <a href="<?=$this->user['twitter']?>" target="_blank" >
                <img src="<?=$this->baseUrl()?>/images/icons/png/twitter.png" class="profileIcon">
            </a>
            <?php }?>
            <?php if($this->user['linkedin']) { ?>
            <a href="<?=$this->user['linkedin']?>"  target="_blank" >
                <img src="<?=$this->baseUrl()?>/images/icons/png/linkedin.png" class="profileIcon">
            </a>
            <?php }?>
            <?php if($this->user['google']) { ?>
            <a href="<?=$this->user['google']?>"  target="_blank" >
                <img src="<?=$this->baseUrl()?>/images/icons/png/google+.png" class="profileIcon">
            </a>
            <?php }?>
        </div >
        
        <div style="clear:both" >
            <br /><br />
            <fieldset>
                <legend><span class="label label-default"><strong>About Me</strong></span></legend>
                <?php if($this->user['track']) { ?>
                <span class="col-xs-3" >Track <?=$this->user['track']?></span><br />
                <?php }?>
                <?php if($this->user['intake']) { ?>
                <span class="col-xs-3" >Intake <?=$this->user['intake']?></span><br />
                <?php }?>
                <p><?=$this->user['description']?></p>
            </fieldset>
            <fieldset>
                <legend><span class="label label-default">Contact Information</span></legend>
                <span class="col-xs-2" >Email : </span> <span> <?=$this->user['email']?></span><br>
                
                
            </fieldset>
        </div>
    </div>
</div>