<br /><br />
<a href="<?php echo $this->baseUrl()."/administration/forumsection/add"?>" class="btn btn-primary">
    Add Section
</a><br><br>
<?php if (isset($this->data)):?>
<table class="table table-bordered table-hover">
    <tr>
        <td>Section Name</td>
        <td>Category Name</td>
        <td>Operations</td>
    </tr>
    <?php foreach ($this->data as $section): ?>
    <tr>
        <td><?php echo $section['sec_name'];?></td>
        <td><?php echo $section['name'];?></td>
        <td>
                <a href="<?php echo $this->baseUrl()."/administration/forumsection/edit/id/".$section['id'];?>" class="glyphicon glyphicon-eye-open"></a>	
            
                <a href="<?php echo $this->baseUrl()."/administration/forumsection/delete/id/".$section['id'];?>" class="glyphicon glyphicon-eye-close"></a>
        </td>
     </tr>
     <?php endforeach;?>
</table>

<?php endif;?>