<div class="panel panel-default">
    <div class="panel-body">
        <h1><span class="glyphicon glyphicon-picture"></span>
            Albums <a href="#"></a>
        </h1>
        <?php if ($this->albums) {
     
            
            $x=0;
            $j = 0;
?>
            <?php for($i=0; $i <count($this->albums)/3; $i++) {
                
            
?>
        <div class="row">
            <?php 
            
            for($x; $x < ((count($this->albums) < 3) ? count($this->albums):$j+3); $x++) {
                
            if($x%3 == 0 ){
                $j = $x;
            }
?>
            <div class="col-md-4">
                
                <div class="thumbnail">
                    <img  class="img-responsive" src="<?php echo $this->baseUrl()."/upload/albums/".$this->albums[$x]['albumId']."/" . $this->albums[$x]['name'] ?>">
                    <div class="caption">
                        <h3>
                            <?php echo $this->albums[$x]['aTitle']?>
                        </h3>
                        
                        
                        
                        <p>
                            <strong>Place : </strong><?php echo $this->albums[$x]['place']?>
                            <br />
                            <strong>Date  : </strong><?php echo $this->albums[$x]['date']?>
                            <br />
                            <br />
                            <a class="btn btn-primary" href="<?php echo $this->baseUrl()."/album/view/id/".$this->albums[$x]['albumId'] ?>">View Album</a>
                        </p>
                    </div>
                </div>
            </div>
            <?php } ?>
            <?php } 
            
            ?>
        </div>
           

        <?php 
            if(count($this->albums)%3 != 0){
                ?>
        <div class="row">
        <?php
                for($x; $x < count($this->albums); $x++) {
                    ?>
        
            <div class="col-md-4">
                
                <div class="thumbnail">
                    <img  class="img-responsive" src="<?php echo $this->baseUrl()."/upload/albums/".$this->albums[$x]['albumId']."/" . $this->albums[$i]['name'] ?>">
                    <div class="caption">
                        <h3>
                            <?php echo $this->albums[$x]['aTitle']?>
                        </h3>
                        
                        
                        
                        <p>
                            <strong>Place : </strong><?php echo $this->albums[$x]['place']?>
                            <br />
                            <strong>Date  : </strong><?php echo $this->albums[$x]['date']?>
                            <br />
                            <br />
                            <a class="btn btn-primary" href="<?php echo $this->baseUrl()."/album/view/id/".$this->albums[$x]['albumId'] ?>">View Album</a>
                        </p>
                    </div>
                </div>
            </div>        
        
        <?php
                    
                }
                ?>
            </div>
            <?php
            }
        
            } ?>
    </div>
</div>