<?php $this->headScript()->appendFile($this->baseUrl() . '/js/album.js'); ?>
<div class="panel panel-default">
    <div class="panel-body">
        
        <?php if($this->album){  ?>
        
        <h1 ><span class="glyphicon glyphicon-picture"></span> <?= $this->album[0]['aTitle'] ?></h1>
        <div class="well">
            <div class="row">
                <div class="col-md-7">
                    <span class="glyphicon glyphicon-map-marker"> Place  : </span><strong><?php echo $this->album[0]['place'] ?></strong> <br />
                    <span class="glyphicon glyphicon-calendar"> Date  : </span><strong><?php echo $this->article[0]['date'] ?></strong> <br />
                    <span class="glyphicon glyphicon-folder-open"> No. Photos: </span> <strong><?php echo count($this->album) ?></strong>
                </div>
                <div class="col-md-5">
                    
                    <span class="glyphicon glyphicon-share-alt"> Share this content on:</span>
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_google_plusone_share"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_linkedin"></a>
                        <a class="addthis_button_pinterest_share"></a>
                        <a class="addthis_button_email"></a>
                        <a class="addthis_button_print"></a>
                        <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5322da23778c65b6"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
        <div id="links">
            <?php for ($i =0; $i<count($this->album); $i++) {?>
            <a href="<?php echo $this->baseUrl()."/upload/albums/".$this->album[$i]['albumId']."/" . $this->album[$i]['name'] ?>" data-description="<?php echo strip_tags($this->album[$i]['description'])?>" title="<?php echo $this->album[$i]['title']?>" data-gallery>
                <img src="<?php echo $this->baseUrl()."/upload/albums/".$this->album[$i]['albumId']."/" . $this->album[$i]['name'] ?>" height="9%" width="16%" alt="<?php echo $this->album[$i]['title']?>">
            </a>
        <?php } ?>
        </div>
        <?php } ?>
        <br>

        <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <p class="description"></p>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-default pull-left prev">
                                
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
</div>