<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/bootstrap-datetimepicker.min.css') ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap-datetimepicker.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/site-datetimepicker.js'); ?>
<?php if (count($this->errors) > 0) {
    ?>

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <?php
        foreach ($this->errors as $errorName => $error) {
            foreach ($error as $message) {
                echo "<strong>$errorName : </strong>$message <br />";
            }
        }
        ?>
    </div>
<?php } ?>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><?php echo $this->viewName ?></h3>
    </div>
    <div class="panel-body">
        <form action="<?php echo $this->baseUrl() . $this->post ?>" method="post">
            <?php echo $this->form->id ?>
            
            <div class="form-group">
                <label for="title">Title</label>
                <?php echo $this->form->title ?>
            </div>
            <div class="form-group">
                <label for="system">System</label>
                <?php echo $this->form->system ?>
            </div>
            
            <div class="form-group">
                        <label for="date" class="control-label">Date</label>
                        <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd" data-link-field="date">
                            <?php echo $this->form->date ?>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden"  id="date" value="" /><br/>
                    </div>
            <div class="form-group">
                <label for="place">Place</label>
                <?php echo $this->form->place ?>
            </div>
                <?php echo $this->form->submit ?>
        </form>
    </div>
</div>
</div>
</div>
