<style media="screen">
  #os-footer{
    margin-top:0px;
    padding-top:30px;
    text-align: left;
  }
  .link-list{
    padding:1%;
  }
  .link-list .ll-header{
    font-weight: bold;
  }
  .link-list .ll-list li>a{
    color: #8D8B8B;
  }
  .os-logo{
    padding:2%;
  }
  .os-logo img{
    width:5rem;
  }
</style>
<div class="container-fluid row cat-container" id="os-footer">
  <div class="col-sm-1">
    <div class="os-logo">
      <img src="<?php echo $this->baseUrl() ?>/images/favicon.ico"  alt="" />
    </div>
  </div>
  <div class="col-lg-8 col-md-7 col-sm-6 row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="link-list">
        <h5 class="ll-header">
          Services
        </h5>
        <ul class="ll-list">
          <li><a href="#">Consultancy</a></li>
          <li><a href="#">Teaching</a></li>
          <li><a href="#">Development</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="link-list">
        <h5 class="ll-header">
          Tracks
        </h5>
        <ul class="ll-list">
          <li><a href="#">OSAD</a></li>
          <li><a href="#">CPD</a></li>
          <li><a href="#">IOT</a></li>
          <li><a href="#">TAD</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="link-list">
        <h5 class="ll-header">
          Jobs
        </h5>
        <ul class="ll-list">
          <li><a href="#">Search for job</a></li>
          <li><a href="#">Search for talent</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="link-list">
        <h5 class="ll-header">
          Learning
        </h5>
        <ul class="ll-list">
          <li><a href="#">Learning Home</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Attendance</a></li>
          <li><a href="#">Projects</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 row">

  </div>
</div>
