<nav class="navbar navbar-default navbar-white">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="<?php echo $this->baseUrl() ?>/images/favicon.ico"  alt="" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <?= $this->navigation()->menu()->setPartial("_menu.phtml")->render(); ?>
      <?php if (empty($this->identity)) { ?>
          <ul id="login" class="nav navbar-right hidden-xs">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> Login</a>
                  <ul class="dropdown-menu">
                      <div class="row clearfix">
                          <div class="col-md-11">
                              <form role="form" id="loginForm" method="POST" action="<?= $this->baseUrl() ?>/user/login">
                                  <div id="loginError">

                                  </div>
                                  <div class="form-group">
                                      <label for="email">Email address</label>
                                      <?= $this->loginForm->loginEmail ?>
                                  </div>
                                  <div class="form-group">
                                      <label for="password">Password</label>
                                      <?= $this->loginForm->loginPassword ?>
                                  </div>

                                  <div class="checkbox">
                                      <label>
                                          <?= $this->loginForm->remember ?> Remember Me
                                      </label>
                                  </div>
                                  <?= $this->loginForm->loginSubmit ?>
                              </form>
                          </div>
                      </div>
                  </ul>
              </li>
          </ul>
      <?php } else { ?>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <?php
                if ($this->identity->image) {
                    echo '<img class="img-circle" width="32px" height="32px" src="' . $this->baseUrl() . '/upload/profile/' . $this->identity->image . '" />';
                } else {
                    echo '<img class="img-circle" width="32px" height="32px" src="' . $this->baseUrl() . '/images/default_image.png" />';
                }
                ?>
                <?php echo $this->identity->firstName . " " . $this->identity->lastName ?>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                    <a href="<?= $this->baseUrl() ?>/user/profile">Profile</a>
                </li>
                <?php if ($this->identity->roleId < 2) { ?>
                    <li>
                      <a href="<?= $this->baseUrl() ?>/administration" id="panelIcon">adiminstration</a>
                    </li>
                <?php } ?>

                <li>
                  <a href="<?= $this->baseUrl() ?>/user/logout" id="logoutIcon">logout</a>
                </li>
              </ul>
            </li>
          </ul>
          <?php
      }
      //opening tag in the partial view
      ?>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
