<style media="screen">
  .nav.navbar-nav:not(.navbar-right)>li>a:hover{
    font-size: 1.65rem;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: inherit;
  }
  .nav.navbar-nav .dropdown-menu{
    border-radius: 0px !important;
  }
  .nav.navbar-nav .dropdown-menu>li>a:hover{
    font-size: 1.4rem;
    background-color: inherit;
  }
  .nav.navbar-nav .dropdown-menu>li>a{
    font-size: 1.3rem;
    padding-top:5px;
    padding-bottom:5px;
    background-color: inherit;
  }
</style>

<ul class="nav navbar-nav">
   <?php foreach ($this->container as $page) { ?>
       <?php // when using partials we need to manually check for ACL conditions ?>
       <?php
       if (!$page->isVisible() || !$this->navigation()->accept($page)) {
           continue;
       }
       ?>
       <?php $hasChildren = $page->hasPages(); ?>
            <?php if (!$hasChildren) { ?>
               <li <?php if ($page->isActive()) {
                      echo 'class="active"';
                  } ?> >
              <a href="<?php echo $page->getHref() ?>">
          <?php echo $this->translate($page->getLabel()) ?>
              </a>
          </li>
      <?php
      } else {
          //mark parent active if one of its children is actively

          $flag = 0;
          foreach ($page->getPages() as $child) {
              if (!$child->isVisible() || !$this->navigation()->accept($child)) {
                  continue;
              }
              if ($child->isActive()) {
                  $flag = 1;
              }
          }
          ?>
          <li class="dropdown <?php if($flag)  echo ' active';?>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?php echo $this->translate($page->getLabel()) ?> </a>
              <ul class="dropdown-menu">
                          <?php foreach ($page->getPages() as $child) { ?>
                              <?php // when using partials we need to manually check for ACL conditions  ?>
          <?php
          if (!$child->isVisible() || !$this->navigation()->accept($child)) {
              continue;
          }
          ?>
                      <li>
                          <a href="<?php echo $child->getHref() ?>">
          <?php echo $this->translate($child->getLabel()) ?>
                          </a>
                      </li>
      <?php } ?>
              </ul>
          </li>
  <?php } ?>
<?php } ?>
  <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
  <li><a href="#">Link</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">One more separated link</a></li>
    </ul>
  </li> -->
</ul>
