<?php echo $this->doctype() ?>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <?php echo $this->headMeta() ?>
        <?php echo $this->headTitle() ?>
        <link rel="shortcut icon" href="<?php echo $this->baseUrl() ?>/images/favicon.ico">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="/js/html5shiv.js"></script>
          <script src="/js/respond.min.js"></script>
        <![endif]-->
        <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/blueimp-gallery.min.css') ?>
        <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/font-awesome.min.css') ?>
        <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/bootstrap-image-gallery.min.css') ?>
        <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/style.css') ?>
        <?php $this->headLink()->appendStylesheet('', 'screen', true, array('id' => 'colorpage')) ?>
        <!-- in your header -->
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
        <?php $this->headScript()->appendFile($this->baseUrl() . '/js/scripts.js'); ?>
        <?php $this->headScript()->appendFile($this->baseUrl() . '/js/jquery.scrollUp.min.js'); ?>
        <?php echo $this->headLink() ?>
    </head>
    <body>
      <?= $this->render("_header.phtml"); ?>
      <div class="fill">
        <?= $this->layout()->content; ?>
      </div>
      <?= $this->render("_footer.phtml"); ?>

      <?php $this->headScript()->captureStart("PREPEND") ?>
        var baseUrl = "<?php echo $this->baseUrl() ?>";
        var originalModule =  "<?php echo Zend_Controller_Front::getInstance()->getRequest()->getModuleName() ?>";
        var originalController =  "<?php echo Zend_Controller_Front::getInstance()->getRequest()->getControllerName() ?>";
      <?php
        $this->headScript()->captureEnd();
        echo $this->headScript();
       ?>
      <script type="text/javascript">
      <?php
      if ((Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != "index" ) || (isset($_GET["old"]))) {
      ?>
        $(".navbar.navbar-default").removeClass("fixed");
      <?php
      }else{
      ?>
        $(".navbar").addClass("fixed");
        $('#os-tech .others').hide();
        if($(window).scrollTop()<650 && $(window).scrollTop()>50){
          $(".navbar.navbar-default").hide();
        }else if($(window).scrollTop()>650){
          $(".navbar.navbar-default").addClass("navbar-white").show();
        }else{
          $(".navbar.navbar-default").removeClass("navbar-white").show();
        }
        $(window).on("scroll",function(e){
          if($(window).scrollTop()<650 && $(window).scrollTop()>50){
            $(".navbar.navbar-default").hide();
          }else if($(window).scrollTop()>650){
            $(".navbar.navbar-default").addClass("navbar-white").show();
          }else{
            $(".navbar.navbar-default").removeClass("navbar-white").show();
          }
        });

        $("#tech-toggle").click(function(e){
          $('#os-tech .others').toggle();
          $(this).children("span").toggleClass("glyphicon-menu-down")
          .toggleClass("glyphicon-menu-up");
        });
        var newsId = 1;
        var newsInterval = setInterval(function(){
            $("#os-news .card,#os-news .c-indicator").removeClass("active");
            $("#os-news").children(".card:eq("+newsId+")").addClass("active")
            .end().find(".c-indicator:eq("+newsId+")").addClass("active");
            newsId = (newsId < $("#os-news .card").get().length-1)?++newsId:0;
            console.log(newsId);
        },7500)

        $(".c-indicator").click(function(e){
          var i = $(this).attr('id').split("-")[1]
          if(newsInterval)
            clearInterval(newsInterval);
          $("#os-news .card,#os-news .c-indicator").removeClass("active");
          $("#os-news").children(".card:eq("+i+")").addClass("active")
          .end().find(".c-indicator:eq("+i+")").addClass("active");
        })
        $(".cards").hover(function(e){
          $(this).find(".card-prev,.card-next").children().removeClass('disappear');
        },function(e){
          $(this).find(".card-prev,.card-next").children().addClass('disappear');
        })
        <?php
          }
        ?>
      </script>

    </body>
</html>
