<?php if (isset($_GET["old"])){?>
  <?php if (empty($this->identity)) { ?>
      <div class="row clearfix" >
          <div class="col-md-12 " >
              <p id="register"><span class="col-md-11 column">Join <em>Open Source Community</em> and benefit from the huge number of specialists who will help you on your career or business!</span><span class="col-md-1 column"><a class="btn btn-primary" href="<?php echo $this->baseUrl() ?>/user/register">Register Now</a></span></p>
          </div>

      </div>
  <!-- end reg -->
  <?php } ?>
  <?php if ($this->mainSlider){?>
  <div class="carousel slide" id="carousel-575751">
      <ol class="carousel-indicators">
          <?php for($i=0; $i <count($this->mainSlider); $i++) {?>
          <li <?php echo $i == 0 ? 'class="active"' : ''?> data-slide-to="<?php echo $i?>" data-target="#carousel-575751">
          </li>
          <?php } ?>
      </ol>
      <div class="carousel-inner">
          <?php for($i=0; $i <count($this->mainSlider); $i++) {?>
          <div class="item <?php echo $i == 0 ? 'active' : ''?>">
              <img alt=""  src="<?php echo $this->baseUrl()."/upload/albums/".$this->mainSlider[$i]['albumId']."/" . $this->mainSlider[$i]['name'] ?>">
              <div class="carousel-caption">
                  <h1>
                      <?php echo $this->mainSlider[$i]['title']?>
                  </h1>
                  <p>
                      <?php echo strip_tags($this->mainSlider[$i]['description'])?>
                      <a href="<?php echo $this->baseUrl().$this->mainSlider[$i]['url'] ?>" class="btn btn-default">See More</a>
                  </p>

              </div>
          </div>
          <?php }?>
      </div>
    </div>
  <?php }?>
  <div class="row clearfix" id="services">
      <div class="col-md-offset-1 col-md-10  col-md-offset-1 column">
          <?php if ($this->services){?>
          <h1><span class="glyphicon glyphicon-briefcase"></span>
              <?php echo $this->settings[0]['servicesName'] ? $this->settings[0]['servicesName'] : 'Services'?>
          </h1>

          <div class="row">
              <?php for($i=0; $i <count($this->services); $i++) {?>
              <div class="col-md-4">

                  <div class="thumbnail">
                      <img  class="img-responsive" src="<?php echo $this->baseUrl()."/upload/albums/".$this->services[$i]['albumId']."/" . $this->services[$i]['name'] ?>">
                      <div class="caption">
                          <h3>
                              <?php echo $this->services[$i]['title']?>
                          </h3>

                               <?php echo $this->services[$i]['description']?>

                          <p>
                              <a class="btn btn-primary" href="<?php echo $this->baseUrl().$this->services[$i]['url'] ?>">Read More</a>
                          </p>
                      </div>
                  </div>
              </div>
              <?php } ?>
          </div>
          <?php } ?>
      </div>
  </div><!-- end services -->

  <div class="row clearfix" id="collection">
      <div class="col-md-offset-1 col-md-10  col-md-offset-1">
          <div class="row">
              <div class="col-md-4">
                  <h1><span class="glyphicon glyphicon-bullhorn"></span>
                      <?php echo $this->settings[0]['articlesName'] ? $this->settings[0]['articlesName'] : 'News'?>
                       <a href="<?php echo $this->baseUrl() ?>/news"><span class="badge"><?php echo $this->settings[0]['articlesMore'] ? $this->settings[0]['articlesMore'] : 'More'?></span></a>
                  </h1>
                  <?php if ($this->articles) { ?>
                      <div class="carousel slide" id="carousel-783283">
                          <ol class="carousel-indicators">
                              <?php for ($i = 0; $i < count($this->articles); $i++) { ?>
                                  <li data-slide-to="<?= $i ?>" data-target="#carousel-783283" <?php if ($i == 0) echo "class=active" ?>>
                                  </li>
                              <?php } ?>
                          </ol>
                          <div class="carousel-inner">
                              <?php for ($i = 0; $i < count($this->articles); $i++) { ?>

                                  <div class="item <?php if ($i == 0) echo "active" ?>">
                                      <img alt="" src="<?php echo $this->baseUrl() ?>/upload/news/<?= $this->articles[$i]["sliderImage"] ?>" />
                                      <div class="carousel-caption">
                                          <a href="<?php echo $this->baseUrl() ?>/news/view/id/<?= $this->articles[$i]["id"] ?>"><h4><?= $this->articles[$i]["title"] ?></h4></a>
                                          <p><?php
                                              $strippedString = strip_tags($this->articles[$i]["body"]);
                                              $formatedString = (strlen($strippedString) > 90) ? substr($strippedString, 0, 85) . '...' : $strippedString;
                                              echo $formatedString;
                                              ?>
                                          </p>
                                      </div>
                                  </div>

                              <?php } ?>
                          </div> <a class="left carousel-control" href="#carousel-783283" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-783283" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                      </div>
                  <?php } ?>
              </div>
              <div class="col-md-4" id="video">
                  <h1><span class="glyphicon glyphicon-facetime-video"></span>
                      <?php echo $this->settings[0]['videoName'] ? $this->settings[0]['videoName'] : 'Video'?>
                       <a href="<?php echo $this->baseUrl() ?>/video"><span class="badge"><?php echo $this->settings[0]['videoMore'] ? $this->settings[0]['videoMore'] : 'More'?></span></a>
                  </h1>
                  <div class="js-video widescreen">

                      <iframe  src="https://www.youtube.com/embed/<?php echo $this->video[0]['videoUrl']?>" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
              <div class="col-md-4" id="poll">
                  <h1> <span class="glyphicon glyphicon-tasks"></span>
                       <?php echo $this->settings[0]['pollName'] ? $this->settings[0]['pollName'] : 'Poll'?>
                       <a href="<?php echo $this->baseUrl() ?>/poll"><span class="badge"><?php echo $this->settings[0]['pollMore'] ? $this->settings[0]['pollMore'] : 'More'?></span></a>
                  </h1>
                  <div id="pollDisplay">
                      <div id="pollError"></div>
                      <?php if ($this->poll) { ?>
                          <h3><?= $this->poll[0]['pollQuestion'] ?></h3>
                          <input type="hidden" id = "pollId" value="<?= $this->poll[0]['id'] ?>">
                          <?php foreach ($this->poll[1] as $choice) { ?>
                              <div class="radio">
                                  <label>
                                      <input type="radio" name = "pollChoice" value="<?= $choice['id'] ?>">
                                      <?= $choice['pollChoice'] ?>
                                  </label>
                              </div>
                          <?php } ?>
                          <a class="btn btn-primary" id="pollVote" >Vote</a><a class="btn btn-primary" id="pollResult" >Result</a>
                      <?php } ?>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row clearfix" id="gallery">
      <div class="col-md-offset-1 col-md-3">
          <h1>
              <span class="glyphicon glyphicon-time"></span>
               <?php echo $this->settings[0]['datesName'] ? $this->settings[0]['datesName'] : 'Important Dates'?>
                       <a href="<?php echo $this->baseUrl() ?>/event/important"><span class="badge"><?php echo $this->settings[0]['datesMore'] ? $this->settings[0]['datesMore'] : 'More'?></span></a>

          </h1>
          <div id="datesCarousel" class="carousel slide vertical">
              <!-- Carousel items -->
              <div class="carousel-inner">
                  <div class="active item">
                      <div class="dates">
                          <h2><?= date("d", strtotime(date('Y-m-d') . " -1 day")); ?></h2>
                          <h3><span class="monthRed">May</span></h3>
                          <h4>Admission Starts</h4>
                      </div>

                  </div>
                  <div class="item">
                      <div class="dates">
                          <h2><?= date("d", strtotime(date('Y-m-d') . " -11 day")); ?></h2>
                          <h3><span class="monthBlue">June</span></h3>
                          <h4>Admission Starts</h4>
                      </div>
                  </div>
                  <div class="item">
                      <div class="dates">
                          <h2><?= date("d", strtotime(date('Y-m-d') . " +8 day")); ?></h2>
                          <h3><span class="monthGreen">September</span></h3>
                          <h4>Admission Starts</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-7">
          <h1>
              <span class="glyphicon glyphicon-picture"></span>
                <?php echo $this->settings[0]['activityName'] ? $this->settings[0]['activityName'] : 'Activities Photos'?>
                       <a href="<?php echo $this->baseUrl() ?>/album"><span class="badge"><?php echo $this->settings[0]['activityMore'] ? $this->settings[0]['activityMore'] : 'More'?></span></a>
          </h1>
          <!-- The container for the list of example images -->
          <?php if($this->albums) {
             $count =  count ($this->albums) < 18 ? count ($this->albums) : 18;

  ?>
      <div id="links">
              <?php for ($i =0; $i<$count; $i++) {?>
              <a href="<?php echo $this->baseUrl()."/upload/albums/".$this->albums[$i]['albumId']."/" . $this->albums[$i]['name'] ?>" title="<?php echo $this->albums[$i]['title']?>" data-gallery>
                  <img src="<?php echo $this->baseUrl()."/upload/albums/".$this->albums[$i]['albumId']."/" . $this->albums[$i]['name'] ?>" height="9%" width="16%" alt="<?php echo $this->albums[$i]['title']?>">
              </a>
          <?php } ?>
          </div>
          <?php } ?>
          <br>

          <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
          <div id="blueimp-gallery" class="blueimp-gallery">
              <!-- The container for the modal slides -->
              <div class="slides"></div>
              <!-- Controls for the borderless lightbox -->
              <h3 class="title"></h3>
              <a class="prev">‹</a>
              <a class="next">›</a>
              <a class="close">×</a>
              <a class="play-pause"></a>
              <ol class="indicator"></ol>
              <!-- The modal dialog, which will be used to wrap the lightbox content -->
              <div class="modal fade">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" aria-hidden="true">&times;</button>
                              <h4 class="modal-title"></h4>
                          </div>
                          <div class="modal-body next"></div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default pull-left prev">

                                  Previous
                              </button>
                              <button type="button" class="btn btn-primary next">
                                  Next

                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div><!-- end dates -->
  <div class="row clearfix" id="event">
      <div class="col-md-offset-1 col-md-10  col-md-offset-1">
          <h1>
              <span class="glyphicon glyphicon-calendar"></span>
              <?php echo $this->settings[0]['eventName'] ? $this->settings[0]['eventName'] : 'Events Calendar'?>
                       <a href="<?php echo $this->baseUrl() ?>/event"><span class="badge"><?php echo $this->settings[0]['eventMore'] ? $this->settings[0]['eventMore'] : 'More'?></span></a>

          </h1>
          <div class="row clearfix">
              <div class="col-md-8 column">
                  <ul>
                      <li id="dayBefore" class="today">
                          <span><?= date("d", strtotime(date('Y-m-d') . " -1 day")); ?></span>
                          <h4>Yesterday</h4><p><em>There were no events for this day</em></p>
                      </li>
                      <li id="day" class="week">
                          <span><?= date("d") ?></span>
                          <h4>Today</h4><p>There are no events for this day</p>
                      </li>
                      <li id="dayAfter" class="month">
                          <span><?= date("d", strtotime(date('Y-m-d') . " +1 day")); ?></span>
                          <h4>Tomorrow</h4><p><em>There will be no events for this day</em></p>

                      </li>
                  </ul>
              </div>
              <div class="col-md-4 column">
                  <div id="calendar">
                      <div id="calendar_header"><i class="glyphicon glyphicon-chevron-left"></i>
                          <h1></h1><i class="glyphicon glyphicon-chevron-right"></i>
                      </div>
                      <div id="calendar_weekdays"></div>
                      <div id="calendar_content"></div>
                  </div>
              </div>
          </div>
      </div>
  </div><!-- end event -->
  <div class="row clearfix">
      <div class="col-md-offset-1 col-md-10  col-md-offset-1">
          <?php if($this->technologies){?>
          <h1><span class="glyphicon glyphicon-flag"></span>
              <?php echo $this->settings[0]['TechnologiesName'] ? $this->settings[0]['TechnologiesName'] : 'Open Source Technologies'?>

          </h1>
          <div id="sponser">
              <div id="sponserin" >
                  <div id="osCarousel" class="carousel slide">

                      <!-- Carousel items -->
                      <div class="carousel-inner">

                          <!--/item-->

                          <?php

                              for($i=1; $i <= count($this->technologies)/6; $i++) {
                              ?>
                          <div class="item <?php echo $i == 1 ? 'active' : ''?>">
                              <div class="row">
                                  <?php for($j=(($i-1)*6); $j <$i*6; $j++) {
                                      ?>
                                  <div class="col-sm-2"><a href="<?php echo $this->technologies[$j]['url']?>" target="_blank" class="thumbnail"><img src="<?php echo $this->baseUrl()."/upload/albums/".$this->technologies[$j]['albumId']."/" . $this->technologies[$j]['name'] ?>" alt="Image" class="img-responsive"></a>
                                  </div>
                                  <?php } ?>

                              </div>
                              <!--/row-->
                          </div>
                          <?php }
                              if(count($this->technologies)%6){
                                  ?>
                          <div class="item">
                              <div class="row">
                                  <?php for($j=($i*6); $j <count($this->technologies); $j++) {
                                      ?>
                                  <div class="col-sm-2"><a href="<?php $this->technologies[$j]['url']?>" target="_blank" class="thumbnail"><img src="<?php echo $this->baseUrl()."/upload/albums/".$this->technologies[$j]['albumId']."/" . $this->technologies[$j]['name'] ?>" alt="Image" class="img-responsive"></a>
                                  </div>
                                  <?php } ?>
                                  </div>
                              <!--/row-->
                          </div>
                          <?php

                              }
                          ?>

                          <!--/item-->
                      </div>
                      <!--/carousel-inner--> <a class="carousel-control glyphicon glyphicon-chevron-left" href="#osCarousel" data-slide="prev"></a>

                      <a class="right carousel-control glyphicon glyphicon-chevron-right" href="#osCarousel" data-slide="next"></a>
                  </div>
                  <!--/osCarousel-->
              </div>


          </div><!-- end sponser-->

          <?php }?>
      </div>
  </div><!-- end collection -->



  <!-- Events Modal -->
  <div id="eventsModals">

  </div>

<?php }else{?>
