<?php $this->headTitle()->append('Administrator Login');  ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/flat-ui.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/dashboard-login.css') ?>


<div class="row clearfix">
		<div class="col-md-1 column">
                </div>
		<div class="col-md-10 column">
                    <?php if(count($this->messages) > 0){
                        
    foreach ($this->messages as $message){
        if (strpos($message, "successfully")){
            ?>
           <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <?php 
                                        echo "<strong>$message</strong>";
                                        echo '</div>';
        } else{
            ?>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <?php 
                                        echo "<strong>$message</strong>";
                                        echo '</div>';
            
        }
        }
}
        ?>
		<div class="login">
                        <div class="login-screen">
                                  <div class="login-icon">
                                      <img src="<?php echo $this->baseUrl() ?>/images/icons/png/settings.png" alt="Welcome to CPanel">
                                    <h4>Welcome to <small>CPanel</small></h4>
                                  </div>
                            <form method="POST" action="<?php echo $this->baseUrl().'/administration/index/login' ?>">
                                  <div class="login-form">
                                    <div class="form-group">
                                      <?php echo $this->loginForm->loginEmail ?>
                                      <label class="login-field-icon fui-user" for="loginEmail"></label>
                                    </div>

                                    <div class="form-group">
                                      <?php echo $this->loginForm->loginPassword ?>
                                      <label class="login-field-icon fui-lock" for="loginPassword"></label>
                                    </div>

                                      <?php echo $this->loginForm->loginSubmit ?>
                                    <a class="login-link" href="#">Lost your password?</a>
                                  </div>
                            </form>
                            </div>
                        </div>
                    </div>
	</div>