<div id="alert_div" class="alert alert-danger fade in">
            
    <h4><strong>Attention!</strong></h4>
            <p>This is a risky action, use it carefully, This will build the RESOURCES table and will end all users sessions</p>
            <p>
                <a id="build_action" class="btn btn-danger" href="#">I know</a> <a id="leave_action" class="btn btn-default" href="#">Sorry, I'll leave!</a>
            </p>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
    <h3 class="panel-title">Build Resources</h3>
  </div>
  <div class="panel-body">
    <div id="view-content">
	<p>This action will read all controllers files inside modules or outside and will save their names and their actions names in database 
            for generic use of ACL. To start this operation just click the below button. <em>Please</em> consider visiting Roles permissions page after that.</p>
    </div>
      <form id="buildForm" method="POST" action="<?php echo $this->baseUrl()?>/administration/resource/build">
    <?php echo $this->formButton("button", "Build Resources", array("class"=>"btn btn-default","onclick"=>"return showAlert();"))?>
    </form>
      
  </div>
</div>