<div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
			<div class="page-header">
				<h1>
					Add New Course Material
				</h1>
			</div>
		</div>
		<div class="col-md-2 column">
                </div>
                    
</div>
<div class="row clearfix">
		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
	
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
<div class="row clearfix">
		<div class="col-md-4 column">
                    <?php echo $this->material;?>
		</div>
		<div class="col-md-4 column">
                    
		</div>
		<div class="col-md-4 column">
                    <div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Course Material Cpanel
					</h3>
				</div>
				<div class="panel-body">
					   <a href="<?php echo $this->baseUrl()?>/administration/course/index">Cpanel Home</a><br>
                                           <a href="<?php echo $this->baseUrl()?>/administration/coursematerial/add">Course Material Add</a><br>
                                             <a href="<?php echo $this->baseUrl()?>/administration/coursematerial/list">List Of Material</a>
				</div>
				<div class="panel-footer">
					
				</div>
			</div>
		</div>
	</div>
