<br /><br />
<div class="alert alert-danger">
            
    <h4><strong>Attention!</strong></h4>
            <p>Are you sure you want to delete Topic?</p>
            <p>
            <form method="post">
                <input type="submit" value="Yes" class="btn btn-danger">
                <a  class="btn btn-default" href="<?php echo $this->baseUrl()."/administration/topic/";?>">No</a>
            </form>
            
</div>