
<br /><br />
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
<script type="text/javascript">
	bkLib.onDomLoaded(function() { 
				new nicEditor({buttonList : ['bold','italic','underline','strikeThrough','subscript','superscript','justify'
												,'ol'
												,'ul'
												,'subscript'
												,'superscript'
												,'strikethrough'
												,'removeformat'
												,'indent'
												,'outdent'
												,'hr']}).panelInstance('body'); 
				});
</script>
<form method="post">
 <?php foreach ($this->data as $data):?>   
    <div class="form-group">
        <label for="sectionname">Section Name</label><br>
        
        <select name="sectionname">
            <?php foreach($this->form  as $form):?>
            <option value="<?php echo $form['id'];?>"<?php if($data['id']==$form['id']) echo "selected";?> >
                <?php echo $form['sec_name'];?>
            </option>
            <?php endforeach;?>
        </select>
       
    </div>
     
    <div class="form-group">
        <label for="subject">Subject</label><br>
        <input type="text" name="subject" value="<?php echo $data['Subject'];?>">
    </div>
    <textarea rows="14" cols="70" name="body" id="body" required>
        <?php echo $data['body'];?>
    </textarea><br>
    <input type="submit" class="btn btn-primary btn-md" value="Submit" name="submit" onclick = "nicEditors.findEditor('body').saveContent();">
<?php endforeach;?>
</form>

