<br /><br />
    <h2>Topic</h2>
    <a href=<?php echo $this->baseUrl()."/administration/topic/add";?>>Add Topic</a>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Topic Name</th>
            <th>Section Name</th>
            <th>User Name</th> 
            <th>Operations</th>
        </tr>
        <?php foreach ($this->data as $data): ?>
        <tr>
            <td><?php echo $data['Subject'];?></td>
            <td><?php echo $data['sec_name'];?></td>
            <td><?php echo $data['fullname'];?></td>
            <td>
                <a href=<?php echo $this->baseUrl()."/administration/topic/edit/id/".$data['topic_id'];?> class="glyphicon glyphicon-eye-open"></a>	
            
                <a href=<?php echo $this->baseUrl()."/administration/topic/delete/id/".$data['topic_id'];?> class="glyphicon glyphicon-eye-close"></a>
            </td>
        </tr>
        <?php endforeach;?>
    </table>