<?php if (count($this->errors) > 0) {
    ?>

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <?php
        foreach ($this->errors as $errorName => $error) {
            foreach ($error as $message) {
                echo "<strong>$errorName : </strong>$message <br />";
            }
        }
        ?>
    </div>
<?php } ?>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Main Page Settings</h3>
    </div>
    <div class="panel-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#general" data-toggle="tab">General</a></li>

            <li><a href="#albums" data-toggle="tab">Albums</a></li>
            <li><a href="#social" data-toggle="tab">Social Links</a></li>

        </ul>

        <div class="tab-content">

            <div class="tab-pane fade in active" id="general">
               <form  action="<?php echo $this->baseUrl()."/administration/main"?>" method="POST" >
                   
                   <div class="form-group">
                        <label for="technologiesName">Poll Section Name</label>
                        <?php echo $this->form->pollName ?>
                    </div>
                    <div class="form-group">
                        <label for="poll">Poll</label>
                        <?php echo $this->form->poll ?>
                    </div>
                   
                   <div class="form-group">
                        <label for="videoName">Video Section Name</label>
                        <?php echo $this->form->videoName ?>
                    </div>
                   
                   <div class="form-group">
                        <label for="video">Video</label>
                        <?php echo $this->form->video ?>
                    </div>
                   
                   <div class="form-group">
                        <label for="articlesName">News Section Name</label>
                        <?php echo $this->form->articlesName ?>
                    </div>
                   
                    <div class="form-group">
                        <label for="articlesNo">Articles Number</label>
                        <?php echo $this->form->articlesNo ?>
                    </div>
                    

                    <div class="form-group">
                        <label for="activityName">Activity Section</label>
                        <?php echo $this->form->activityName ?>
                    </div>
                                        
                    <div class="form-group">
                        <label for="aboutUs">About Us</label>
                        <?php echo $this->form->aboutUs ?>
                    </div>

                    <?php echo $this->form->submit ?>
                </form>
                

            </div>
            <div class="tab-pane fade" id="albums">
                <form  action="<?php echo $this->baseUrl()."/administration/main"?>" method="POST" >
                    <div class="form-group">
                        <label for="slider">Slider Album</label>
                        <?php echo $this->form->slider ?>
                    </div>

                    <div class="form-group">
                        <label for="servicesName">Services Section Name</label>
                        <?php echo $this->form->servicesName ?>
                    </div>
                    <div class="form-group">
                        <label for="services">Services Album</label>
                        <?php echo $this->form->services ?>
                    </div>

                    <div class="form-group">
                        <label for="technologiesName">Technologies Section Name</label>
                        <?php echo $this->form->TechnologiesName ?>
                    </div>
                    <div class="form-group">
                        <label for="technologies">Open Source Technologies Album</label>
                        <?php echo $this->form->technologies ?>
                    </div>
                    
                    
                    <?php echo $this->form->submit ?>
                </form>
            </div>
            <div class="tab-pane fade" id="social">

                <form  action="<?php echo $this->baseUrl()."/administration/main"?>" method="POST" >
                    

                    <div class="form-group">
                        <label for="facebook">Facebook Page</label>
                        <?php echo $this->form->facebook ?>
                    </div>
                    

                    <div class="form-group">
                        <label for="twitter">Twitter</label>
                        <?php echo $this->form->twitter ?>
                    </div>
                    
                    <div class="form-group">
                        <label for="linkedIn">LinkedIn</label>
                        <?php echo $this->form->linkedIn ?>
                    </div>
                    

                    <div class="form-group">
                        <label for="google">Google plus page</label>
                        <?php echo $this->form->google ?>
                    </div>
                    <?php echo $this->form->submit ?>
                </form>

            </div>

        </div>  
    </div>
</div>
<?php $this->headScript()->captureStart() ?>
            // This is a check for the CKEditor class. If not defined, the paths must be checked.
if ( typeof CKEDITOR == 'undefined' )
{
	document.write(
		'<strong><span style="color: #ff0000">Error</span>: CKEditor not found</strong>.' +
		'This sample assumes that CKEditor (not included with CKFinder) is installed in' +
		'the "/ckeditor/" path. If you have it installed in a different place, just edit' +
		'this file, changing the wrong paths in the &lt;head&gt; (line 5) and the "BasePath"' +
		'value (line 32).' ) ;
}
else
{
var editor = CKEDITOR.replace( 'ckeditor_full',
 {
 	filebrowserBrowseUrl : '<?=$this->baseUrl()?>/js/ckfinder/ckfinder.html',
 	
 } 
 );


	// Just call CKFinder.setupCKEditor and pass the CKEditor instance as the first argument.
	// The second parameter (optional), is the path for the CKFinder installation (default = "/ckfinder/").
	CKFinder.setupCKEditor( editor, '<?=$this->baseUrl()?>/js/' ) ;

	// It is also possible to pass an object with selected CKFinder properties as a second argument.
	// CKFinder.setupCKEditor( editor, { basePath : '../', skin : 'v1' } ) ;
}
<?php $this->headScript()->captureEnd() ?>
