<?php $this->headTitle()->append('AddProject');?>
<?php $this->headLink()->appendStylesheet('/css/bootstrap.min.css')->appendStylesheet('/css/lab1.css'); ?>
<div id="div1">
    <form method="post" action=" " enctype="multipart/form-data" class="form-horizontal" role="form" target="_self">
        <fieldset>
            <legend> Add Project </legend>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Project ID</label>
                <div class="col-dm-8 column">
                    <input style="width: 60%;" type="text" class="form-control" name="id" id="name" placeholder="Project ID" >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Project Name</label>
                <div class="col-dm-8 column">
                    <input style="width: 60%;" type="text" class="form-control" name="pname" id="name" placeholder="Project Name" >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Track</label>
                <div class="col-dm-8 column">
                    <input style="width: 30%;" type="text" class="form-control" name="track" id="name" placeholder="Track" >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Intake</label>
                <div class="col-dm-8 column">
                    <input style="width: 30%;" type="text" class="form-control" name="intake" id="name" placeholder="Intacke" >
                </div>
            </div>
            <div class="form-group">
                <label for="desc" class="col-sm-2 control-label">Description</label>
                <div class="col-dm-8 column">
                    <textarea style="width: 60%;" type="text" class="form-control" name="desc" id="desc" placeholder="Description" >
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">History</label>
                <div class="col-dm-8">
                    <textarea style="width: 60%;" id="price" class="form-control" name="his" placeholder="History"  >
                    </textarea>
                </div>
-	    </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Documentation</label>
                <div class="col-dm-8 column">
                    <input style="width: 60%;" type="text" class="form-control" name="doc" id="name" placeholder="Documentation" >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Image</label>
                <div class="col-dm-8 column">
                    <input style="width: 60%;" type="text" class="form-control" name="img" id="name" placeholder="path of image" >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Tag ID</label>
                <div class="col-dm-8 column">
                    <input style="width: 60%;" type="text" class="form-control" name="tag1" id="name" placeholder="Tag ID" >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Tags</label>
                <div class="col-dm-8 column">
                    <input style="width: 60%;" type="text" class="form-control" name="tag2" id="name" placeholder="Tags" >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Flag</label>
                <div class="col-dm-8 column">
                    <input style="width: 60%;" type="text" class="form-control" name="flag" id="name" placeholder="enter 1 for OpenSource 2 for Telecom" >
                </div>
            </div>
            <div id="d2">
                <button type="reset" class="btn btn-danger">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>