<?php $this->headTitle()->append('ProjectList'); ?>
<?php $this->headLink()->appendStylesheet('/css/bootstrap.min.css')->appendStylesheet('/css/lab1.css'); ?>
<a id='a1' href="<?php echo $this->baseUrl().'/administration/projectportal/add/'?>" > Add Project</a>
<table name="list" class="table table-hover table-bordered" id="table">
    <tr>
        <th>#</th>
        <th>Project Name</th>
        <th>Track</th>
        <th>Intake</th>
        <th>Administration</th>
    </tr>
    <?php foreach( $this->list as $row ):?>
    <tr>
        <td><?php echo $row['pid'] ?></td>
        <td><?php echo $row['pname'] ?></td>
        <td><?php echo $row['tname'] ?></td>
        <td><?php echo $row['tpid'] ?></td>
        <td>
            <?php $id =$row['pid'] ?>
            <a href="<?php echo $this->baseUrl().'/administration/projectportal/add/'?>" class='glyphicon glyphicon-plus'> </a> 
            <a href="<?php echo $this->baseUrl().'/administration/projectportal/edit/id/'.$id?>"  class='glyphicon glyphicon-pencil'> </a>
            <a href="<?php echo $this->baseUrl().'/administration/projectportal/delete/id/'.$id?>" class='glyphicon glyphicon-thumbs-down'> </a>
        </td>
    </tr>
    <?php    endforeach; ?>
</table>