<?php
if (count($this->messages) > 0) {
    foreach ($this->messages as $message) {
        if (strpos($message, "successfully")) {
            ?>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <?php
                echo "<strong>$message</strong>";
                echo '</div>';
            } else {
                ?>
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <?php
                    echo "<strong>$message</strong>";
                    echo '</div>';
                }
            }
        }
        ?>

        <div id="delete_div" class="alert alert-danger fade in">

            <h4><strong>Delete Action!</strong></h4>
            <p>Are you sure that you want to delete this item ?</p>
            <p>
                <a id="delete_action" class="btn btn-danger" href="#">Ok, Delete</a> <a id="keep_action" class="btn btn-default"  href="#">No, Keep it</a>
            </p>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">List News</h3>
            </div>
            <div class="panel-body">
                <div class="pull-right"><a id="addAction" class="btn btn-primary " href="<?php echo $this->baseUrl() ?>/administration/image/add/<?php echo isset($this->albumId) ? "albumId/".$this->albumId :  '' ;?>"><span class="glyphicon glyphicon-plus"></span> Add Image</a></div>
                <?php
                if (count($this->paginator)) {
                    ?>

                    <table class="table table-hover">
                        <thead>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Cover</th>
                        <th>Album</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
    <?php
    foreach ($this->paginator as $image) {
        
        echo "<tr>";
        echo "<td>" . $image['iId'] . "</td>";
    echo "<td><img src='".$this->baseUrl()."/upload/albums/".$image['id']."/" . $image['name']."' width='10%' height='10%'/></td>";
    echo "<td>" . $image['iTitle']."</td>";    
    echo "<td><a href='".$this->baseUrl."/administration/image/list/albumId/".$image['id']."'>". $image['title']."</a></td>";
    echo "<td>" ;
        if ($image['albumCover']) {
            echo "<input type='checkbox' checked='checked' disabled='disabled' />";
        } else {
            echo "<input type='checkbox' disabled='disabled' />";
        }
    echo"</td>";    
        echo "<td>";
        echo '<a href="' . $this->baseUrl() . '/administration/image/cover/id/' . $image['iId'] . '/albumId/'.$image['id'].'"><i class="glyphicon glyphicon-asterisk"></i> </a>';
        echo '<a href="' . $this->baseUrl() . '/administration/image/edit/id/' . $image['iId'] . '"><i class="glyphicon glyphicon-edit"></i> </a>';
        echo '<a href="#"><i class="glyphicon glyphicon-remove" id="delete_' . $image['iId'] . '"></i></a>';

        echo '</td>';
        echo "</tr>";
    }
    ?>
                        </tbody>
                    </table>

                            <?php
                            echo $this->paginationControl($this->paginator, 'sliding', 'pagination.phtml');
                        } else {
                            ?>
                    <div>You do not have any Albums</div>
                <?php } ?>
            </div>
        </div>