<div class="panel panel-default">
    <div class="panel-body">
        <h1>Edit Your Profile</h1>
        <br/><br/>
        <form action="" method="post" role="form" enctype="multipart/form-data" >
            <div class="form-group">
                <?= $this->form->first_name ?>
            </div>
            <div class="form-group">
                <?= $this->form->last_name ?>            
            </div>
            <div class="form-group">
                <?= $this->form->password ?>            
            </div>
            <div class="form-group">
                <?= $this->form->confirm_password ?>            
            </div>
            <div class="form-group">
                <?= $this->form->email ?>            
            </div>
            <div class="form-group">
                <?=$this->form->image ?>            
            </div>
            <div class="form-group">
                <?= $this->form->facebook ?>            
            </div>
            <div class="form-group">
                <?= $this->form->twitter ?>            
            </div>
            <div class="form-group">
                <?= $this->form->linkedin ?>            
            </div>
            <div class="form-group">
                <?= $this->form->gender ?>            
            </div>
            <div class="form-group">
                <?= $this->form->track_id ?>            
            </div>
            <div class="form-group">
                <?= $this->form->intake ?>            
            </div>
            <div class="form-group">
                <?= $this->form->job ?>            
            </div>
            <div class="form-group">
                <?= $this->form->description ?>            
            </div>
             <?= $this->form->id ?> 
            <div class="form-group">
                <?= $this->form->submit ?>            
            </div>
	</form>
    </div>
</div>