
<?php if (!empty($this->identity)) { ?>
  <div class="container-fluid row cat-container" id="os-contact">
    <div class="c-image" style="background: url('<?php echo $this->baseUrl() ?>/images/graduates3.jpg') no-repeat top left;">
      <div class="c-overlay purple-it" >
        <input class="f-search inp-os centerized" type="text" name="name" placeholder="Search for graduates">
      </div>
    </div>
  </div>
<?php } ?>

<?php
  if ($this->paginator) {
?>
  <div class="container-fluid row cat-container" id="os-profiles">
    <?php
    foreach ($this->graduates as $graduate){
    ?>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="card profile-card">
          <div class="pc-logo">
            <img class="img-circle" src="<?php echo $this->baseUrl() . '/upload/profile/' . $graduate['image'] ?>" />
          </div>
          <div class="pc-content">
            <h4 class="pc-title"><?php echo $graduate['firstName']." ".$graduate['lastName'] ?></h4>
            <p class="pc-job-title"><?= $graduate['jobTitle'] ?></p>
            <p class="pc-location">
              <span class="glyphicon glyphicon-map-marker"></span> Cairo, Egypt
            </p>
          </div>
          <div class="pc-footer">
            <span class="pc-social">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
            </span>
            <a href="#" class="pc-action pull-right">view profile</a>
          </div>
        </div>
      </div>
      <?php
      }
      ?>
</div>
<?php
  echo $this->paginationControl($this->paginator, 'sliding', 'pagination.phtml');
}
?>
