<div class="panel panel-default">
    <div class="panel-body">
        <img style="min-height: 170px; margin: 10px 20px 0 0" src="<?=$this->baseUrl()?>/upload/profile/<?=(empty($this->graduate['image']))?$this->graduate['gender'].".png":$this->graduate['image']?>" alt="Graduate Image" class="img-circle pull-left col-xs-3 right-buffer" />        
        <br />
        <h2><?=$this->graduate['firstName']." ".$this->graduate['lastName']?></h2>
        <h3><?=$this->graduate['job']?></h3>
        <span>&nbsp;User Type</span>
        <div style="clear:both" >
            <br /><br />
            <fieldset>
                <legend>About Me</legend>
                <span class="col-xs-3" >Track <?=$this->graduate['track']?></span><br />
                <span class="col-xs-3" >Intake <?=$this->graduate['intake']?></span><br />
                <p class="col-xs-5"><?=$this->graduate['description']?></p>
            </fieldset>
            <fieldset>
                <legend>Contact Information</legend>
                <span class="col-xs-2" >Email : </span> <span> <?=$this->graduate['email']?></span><br>
                <?php 
                    $phones = $this->graduate['phones'];
                    if(!empty($phones)){
                        ?>
                        <span class="col-xs-2" >Phones : </span> 
                        <span> 
                        <?php                         
                            foreach ($phones as $key => $item) {
                                echo $item['phone'];
                                if( $key+1 != count($phones) ){
                                    echo " - ";
                                }
                            }
                        ?>
                </span><br>
                
                <?php } ?>  
                
                <?php if(!empty($this->graduate['twitter'])){ ?>
                    <span class="col-xs-2" >Twitter : </span> <span> <?=$this->graduate['twitter']?></span><br>   
                <?php } ?>
                    
                <?php if(!empty($this->graduate['linkedin'])){ ?>
                    <span class="col-xs-2" >LinkedIn : </span> <span> <?=$this->graduate['linkedin']?></span><br>
                <?php } ?>
                
                <?php if(!empty($this->graduate['facebook'])){ ?>
                    <span class="col-xs-2" >Facebook : </span> <span> <?=$this->graduate['facebook']?></span>
                <?php } ?>
            </fieldset>
        </div>
    </div>
</div>