<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/custom.css'); ?>

<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" class="form-horizontal" id="search">
            <div class = "row" >
                <label for="track" class="col-xs-1" >Track</label>
                    <div class="col-xs-4">
                        <select name="track" id="track" class="form-control">
                            <option value="0"  >All Tracks</option>
                            <option value="1"  >Open Source Applications Developer</option>
                            <option value="2"  >Telecom Applications Developer</option>
			</select>
                    </div>
					
                    <label for="track" class="col-xs-1">Intake</label>
                    <div class="col-xs-2">
			<select name="intake" id="intake" class="form-control">
                            <option value="0"  >Any</option>
                            <?php for($i = 1 ; $i <= $this->intakes ; $i++ ){ ?>
                                    <option value="<?=$i?>"  ><?=$i?></option>
                            <?php } ?>
			</select>
                    </div>
						
                    <label for="name" class="col-xs-1" >Name</label>
                    <div class="col-xs-3">
			<input type="text" name="name" id="name" class="form-control" placeholder="Enter Name Here" />
                    </div>
            </div>
	</form>
    </div>
</div>
<div id="students-container">
    <ul id="std_info" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#"> </a>
	</li>
    </ul>
    <img class='loading' src='<?=$this->baseUrl()?>/images/3.gif'/>
</div>
<div style="clear:both" >
  <div class="text-center" >
        <ul class="pagination ">      
        </ul>
    </div>
</div>
<!-- end services -->
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap-paginator.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/custom.js'); ?>