<?php if (count($this->errors) > 0) { ?>

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <?php
        foreach ($this->errors as  $errorName => $message) {
                echo "<strong>$errorName : </strong>$message <br />";
            }
        ?>
    </div>
<?php }
if($this->loginForm){?>
<div class="panel panel-default">
    <div class="panel-body col-md-offset-4 col-md-4">
        <form method="post">
            <div class="form-group">
                <label for="email">Email address</label>
                <?= $this->loginForm->loginEmail ?>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <?= $this->loginForm->loginPassword ?>
            </div>

            <div class="checkbox">
                <label>
                    <?= $this->loginForm->remember ?> Remember Me
                </label>
            </div>
            <?= $this->loginForm->loginSubmit ?>
        </form>
    </div>
</div>
<?php }?>