<div class="panel panel-default">
    <div class="panel-body">
        <?php if (count($this->errors) > 0) {
            ?>

            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <?php
                foreach ($this->errors as $errorName => $error) {
                    foreach ($error as $message) {
                        echo "Hi";
                        echo "<strong>$errorName : </strong>$message <br />";
                    }
                }
                ?>
            </div>
        <?php } ?>
        <h1 ><span class="glyphicon glyphicon-record"></span> Registration</h1>
        <div class="row">
            <div class="col-md-6">
                <div id="registrationForm">
                    <form action="<?php echo $this->baseUrl() ?>/user/register" method="post" >
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <?php echo $this->form->firstName ?>               
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <?php echo $this->form->lastName ?>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <?php echo $this->form->email ?>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <?php echo $this->form->password ?>
                        </div>
                        <div class="form-group">
                            <label for="passwordRetype">Retype Password</label>
                            <?php echo $this->form->passwordRetype ?>
                        </div>
                        <div class="clearfix"></div>

                        <?php echo $this->form->gender ?>               
                        <?php echo $this->form->jobTitle ?>               
                        <?php echo $this->form->facebook ?>               
                        <?php echo $this->form->submit ?>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div id="socialRegistration">
                    <?php if (!empty($this->loginUrl)) { ?>
                        <h2>OR</h2>
                        <a href="<?= $this->loginUrl ?>" ><img src="<?php echo $this->baseUrl() ?>/images/facebook-register-button.png"></a>
                    <?php } else { ?>
                        <p>Thank You, The form is loaded with your data just enter the password!, that's all.</p>
                        
                    <?php } ?>

                </div>
            </div>
        </div>
    </div>
</div>
<?php $this->headScript()->appendFile($this->baseUrl() . '/js/jquery.passstrength.min.js'); ?>

