<?php $this->headTitle()->append('Graduation Projects'); ?>
<?php $this->headLink()->appendStylesheet('/css/bootstrap.min.css')->appendStylesheet('/css/lab1.css')->appendStylesheet('/css/dep_proj_color_blue.css'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/jquery-1.10.2.js')->appendFile($this->baseUrl().'/js/chang.js')->appendFile($this->baseUrl().'/js/json.js'); ?>
<div class="container top-buffer" style="width: 960px; position: relative; left: -60px;">
<div class="panel panel-default" id='p' >
    <div class="panel-body">
        <form role="form" class="form-horizontal" id="search" action="<?php echo $this->baseUrl().'/project/listproject/'?>" method="post">
            <div class = "row" >
                <label for="track" class="col-xs-1" id='l1'>Track</label>
                <div class="col-xs-4">
                    <select name="track" id="track" class="form-control">
                        <option name ="track" value="1" id='o1'  >Open Source Applications Developer</option>
                        <option name ="track" value="2" id='o2' >Telecom Applications Developer</option>
                    </select>
                </div>

                <label for="track" class="col-xs-1" id='l2'>Intake</label>
                <div class="col-xs-2">
                    <select name="intake" id="intake" class="form-control">
                        <option name = "intake" value="33" >33</option>
                        <option name = "intake" value="34"  >34</option>
                    </select>
                </div>
                <div class="col-xs-2">

                </div>
            </div>
            <input type="submit" value="Search" style="position: relative;top: -30px;left: 630px;"/>
            </form>
    </div>
</div>
<?php foreach( $this->list1 as $row1 ):?>  
<div id="students-container">
    <div class="thumbnail item pull-left" id='th' style="width:800px;">
        <div class="pull-left col-xs-5 img-thumbnail-height">
            <img src="<?php echo $this->baseUrl().$row1['pimage']?>" alt="Graduate Image" class="img-circle" id='i1'/>
        </div>
        <h3 id='h31'><a href="<?php echo $this->baseUrl().'/project/viewproject/id/'.$row1['pid'];?>" id='a11'> <?php echo $row1['pname']?></a></h3>
        <span id='s11'><?php echo $row1['tname'];?> -  <?php echo $row1['tpid']?></span><br/></br>
        <span id='s12'>tags:
        <?php foreach( $this->list2 as $row2 ): ?>
        <?php 
            if($row1['pid'] == $row2['pid'] )
            {
            ?>
            <a href='#' id='a12' style="position: relative;"><?php echo $row2['tag']?>,</a>
            <?php } ?>
    <?php    endforeach; ?>
    </span>
        </div>
</div>
<?php    endforeach; ?>