<?php $this->headTitle()->append('Project'); ?>
<?php $this->headLink()->appendStylesheet('/css/bootstrap.min.css')->appendStylesheet('/css/project.css')->appendStylesheet('/css/project_color_red.css'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/jquery-1.10.2.js')->appendFile($this->baseUrl().'/js/tab.js')->appendFile($this->baseUrl().'/js/json.js'); ?>
<div class="container top-buffer" style="width: 960px; position: relative; left: -60px;">
    <div class="panel panel-default" id='p'>
        <div class="panel-body">
            <form role="form" class="form-horizontal" id="search">
                <div class = "row" >
                    <label for="track" class="col-xs-1" id='l1'>Track</label>
                    <div class="col-xs-4">
                        <select name="track" id="track" class="form-control">
                            <option value="1" id='o1'>Open Source Applications Developer</option>
                            <option value="4" id='o2'>Telecom Applications Developer</option>
                        </select>
                    </div>

                    <label for="track" class="col-xs-1" id='l2'>Intake</label>
                    <div class="col-xs-2">
                        <select name="intake" id="intake" class="form-control">
                            <option value="33"  >33</option>
                            <option value="34"  >34</option>
                        </select>
                    </div>

                    <div class="col-xs-2">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id='dd' style="width: 960px;">
    <div id='div1' style="height: 350px;">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a id='a1' href="#Description" data-toggle="tab">Description</a></li>
      <li><a href="#History" id='a1'  data-toggle="tab">History</a></li>
      <li><a href="#Documentation" id='a1' data-toggle="tab">Documentation</a></li>
      <li><a href="#TeamMember" id='a1' data-toggle="tab">TeamMember</a></li>
    </ul>
<?php $id=$this->list1 ?>
        <?php foreach ($this->list2 as $row1): ?>
         <?php if ($row1['pid'] == $id ) { ?>
    <div class="tab-content" id='div12'>
      <div class="tab-pane active" id="Description">
            <p id='p11'>
             <?php echo $row1['pdesc'] ?>   
            </p>
      </div>
      <div class="tab-pane" id="History">
            <p id='p12'>
             <?php echo $row1['phis'] ?>   
            </p>
      </div>
      <div class="tab-pane" id="Documentation">
            <div id='d16'>
                    <a href='#' id='a16'><p id='p13'> <?php echo $row1['pdoc'] ?></p></a>
            </div>
      </div>
        <?php } ?>
        <?php    endforeach; ?>
      <div class="tab-pane" id="TeamMember">
              <div id="d14">
              <table class="table table-hover" id='t1'>
                <tbody>
                    <?php foreach($this->list3 as $row2):?>
                    <?php if($row2['ptid'] == $id) { ?>
                    <tr id='tr1'> <td><?php echo $row2['tmember'] ?></td></tr>
                    <?php } ?>
                    <?php endforeach; ?>
                </tbody>
                </table>
       </div>
    </div>
</div>

</div>
