<?php if(count($this->errors) > 0){ ?>
  <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <?php
        foreach ($this->errors as $errorName => $error){
            foreach ($error as $message){
                            echo "<strong>$errorName : </strong>$message <br />";
            }
        }
      ?>
  </div>
<?php }?>
<?php if(count($this->messages) > 0){
    foreach ($this->messages as $message){
        if (strpos($message, "successfully")){
?>
  <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <?php
      echo "<strong>$message</strong>";
  echo '</div>';
      }
    }
}?>
<style media="screen">
  #osp-contact{
    text-align:left;
  }
  #map-desc{
    padding-top:20px;
  }
  #map-desc button{
    margin-top:20px;
  }
  #map_canvas{
    border:1px solid #C1C1C1;

  }
  #os-form input,#os-form textarea,#os-form select{
    margin-bottom:7px;
  }
</style>

<div class="container-fluid row cat-container" id="osp-contact">
    <h2>Contact Us</h2>
    <div class="col-md-6">
        <div>
            <h4>ITI Head Quarter - Smart Village </h4>
            <p>Smart Village - 28 Km by Cairo / Alexandria Desert Road - 6th of October - Building 148 - Room 2009
                <br />Tel: +202-353-55605 </p>
        </div>
        <div id="map_canvas" ></div>
        <div id="map-desc">
            <p>
              To get the directions from your
              <span class="label label-info">current location</span>
              to smart village just click this button
              <button class="btn btn-os pull-right" id="getDirections">Get Directions</button>
            </p>
        </div>
    </div>
    <div class="col-md-6" id="os-form">
      <h4>Get in Touch </h4>
      <?=$this->form?>
    </div>


</div>
<?php $this->headScript()->appendFile('http://maps.google.com/maps/api/js?sensor=false'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/map.js'); ?>
