<br /><br />
<div id="view-content">
	<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>START HERE!</legend>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="selectbasic">Choose your career :</label>
  <div class="controls">
    <select id="selectbasic" name="selectbasic" class="input-xlarge">
     <?php foreach($this->data as $key => $career){
         echo '<option value='.$caree["career"].'">'.$career["career"].'</option>';
	}?>
    </select>
  </div>
</div>

</fieldset>
</form>
</div>
